<label for="job_list">Jobs</label>
<ul id="job_list">
  <li>
    <a href="#" class="button btn pyr-button" pyr-target-page="add-job-page">+ Add Job</a>
  </li>
</ul>

<label for="candidate_list"/>Candidates</label>
<ul id="candidate_list">
  <li>
    <a href="#" class="button btn">+ Add Candidate</a>
  </li>
</ul>

<label for="recruiter_list">Recruiters</label>
<ul id="recuiter_list">
  <li>
    <a href="#" class="button btn">+ Invite Recruiter</a>
  </li>
</ul>
