<% include Rails.application.routes.url_helpers %>
<% include Rails.application.helpers %>


import React, { 
  Component
} from 'react';

import PropTypes from 'prop-types';
import ReactDOM from 'react-dom';

import Pyr from '../../pyr/pyr';
const ClassNames = Pyr.ClassNames;

import Page from '../page';
import Sheet from '../sheet';
import MessageThread from '../messages/message_thread';

const MESSAGES_URL = "/messages";

import {
  UserAvatar,
  UserScore
} from '../../util/user';


const JOBS_URL = "/jobs";
const CANDIDATES_URL = "/candidates";

class CandidateHeader extends Component {
  render() {
    if (!this.props.candidate) {
      return <Pyr.Loading />
    }

    let candidate = this.props.candidate;
    let job = this.props.job;

    //let id ="candidate-header" + this.props.candidate.id;

    let fullName = candidate.first_name + " " + candidate.last_name;
    let phoneNumber = candidate.phone_number || "No Phone";
    let email = candidate.email || "No Email";
    let description = candidate.description || "No Description";

    return (
      <div className="candidate-header flx-noshrink">
          <Pyr.Grid.Row className="recruiter-info p-1 flx-end">
              <Pyr.PrimaryButton>Accept</Pyr.PrimaryButton>
              <Pyr.Button>Reject</Pyr.Button>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row className="title">
            <Pyr.Grid.ColFull className="name col col-md-12"><Pyr.SmallLabel>Name:</Pyr.SmallLabel><span className="">{fullName}</span></Pyr.Grid.ColFull>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row>
            <Pyr.Grid.ColHalf className="phone-number"><Pyr.SmallLabel>PhoneNumber:</Pyr.SmallLabel><span className="">{phoneNumber}</span></Pyr.Grid.ColHalf>
            <Pyr.Grid.ColHalf className="email"><Pyr.SmallLabel>Email:</Pyr.SmallLabel>{email}</Pyr.Grid.ColHalf>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row>
            <Pyr.Grid.ColHalf className="employer"><Pyr.SmallLabel>Employer:</Pyr.SmallLabel> Hmmmmmm</Pyr.Grid.ColHalf>
            <Pyr.Grid.ColHalf className="cost"><Pyr.SmallLabel>Est. Cost:</Pyr.SmallLabel> $27,000</Pyr.Grid.ColHalf>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row>
            <Pyr.Grid.ColFull className="description">{description}</Pyr.Grid.ColFull>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row className="recruiter-info">
            <Pyr.Grid.ColFull>Interesting stuff about the recruiter goes here!</Pyr.Grid.ColFull>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row className="recruiter-info p-1">
              <Pyr.FlatButton className="flx-1">Experience</Pyr.FlatButton>
              <Pyr.FlatButton className="flx-1 selected">Messages</Pyr.FlatButton>
          </Pyr.Grid.Row>
      </div>
    );
  }
}

class CandidateItem extends Component {

  render() {
    let candidate = this.props.candidate;

    let id = "candidate-" + candidate.id;
    let classes = ClassNames("candidate-item flx-col row-stretch");

    if (this.props.selected) {
       classes.push("selected");
    }

    let fullName = candidate.first_name + " " + candidate.last_name;
    let phoneNumber = candidate.phone_number || "No Phone";
    let email = candidate.email || "No Email";
    let description = candidate.description || "No Description";

    return (
      <div className={classes} id={id}>
        <div className="flx-row">
          <div className="state col-md-2">State</div>
          <div className="name col-md-3">{fullName}</div>
          <div className="email col-md-3">{email}</div>
          <div className="phone-number col-md-3">{phoneNumber}</div>
        </div>
        <div className="flx-row">
          <div className="recruiter col-md-2">
            <UserAvatar userId={candidate.id} />
          </div>
          <div className="description col-md-10">Description</div>
        </div>
      </div>
    );
  }

  render2() {

    return (
      <div className={classes} id={id}>
        <div className="card-block">
          <Pyr.Grid.Row className="card-title">
            <Pyr.Grid.ColFull className="name col col-md-12"><Pyr.SmallLabel>Name:</Pyr.SmallLabel><span className="card-text">{fullName}</span></Pyr.Grid.ColFull>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row>
            <Pyr.Grid.ColHalf className="phone-number"><Pyr.SmallLabel>PhoneNumber:</Pyr.SmallLabel><span className="card-text">{phoneNumber}</span></Pyr.Grid.ColHalf>
            <Pyr.Grid.ColHalf className="email"><Pyr.SmallLabel>Email:</Pyr.SmallLabel>{email}</Pyr.Grid.ColHalf>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row>
            <Pyr.Grid.ColHalf className="employer"><Pyr.SmallLabel>Employer:</Pyr.SmallLabel> Hmmmmmm</Pyr.Grid.ColHalf>
            <Pyr.Grid.ColHalf className="cost"><Pyr.SmallLabel>Est. Cost:</Pyr.SmallLabel> $27,000</Pyr.Grid.ColHalf>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row>
            <Pyr.Grid.ColFull className="description">{description}</Pyr.Grid.ColFull>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row className="recruiter-info">
            <Pyr.Grid.ColFull>Interesting stuff about the recruiter goes here!</Pyr.Grid.ColFull>
          </Pyr.Grid.Row>
        </div>
      </div>
    );
  }
}

class CandidateForm extends Component {

  methodToName(method) {
    switch (method) {
      case Pyr.Method.PUT:
        return "Update";
        break

      default:
        return "Create";
        break;
    }
  }

  render() {
    let key = "candidate-form";
    let url = Pyr.URL(JOBS_URL);

    if (this.props.candidate){
      url.push(this.props.candidate.id);
      key = CandidatesPage.key(this.props.candidate);
    }

    let method = this.props.method || Pyr.Method.POST;

    //alert("Render FOrm Candidate " + this.props.candidate.id);


    return (
      <div className="form-parent">
        <Pyr.Form.Form
          model="Candidate"
          object={this.props.candidate}
          url={url}
          method={method}
          id="candidate-form" 
          key={key}
          ref={(node) => { this.form = node; }} 
          onPreSubmit={this.props.onPreSubmit} 
          onPostSubmit={this.props.onPostSubmit}
          onSuccess={this.props.onSuccess}
          onError={this.props.onError}
        >
      
          <Pyr.Form.Group name="title">
            <Pyr.Form.Label>Title</Pyr.Form.Label>
            <Pyr.Form.TextField placeholder= "Enter candidate title"/>
          </Pyr.Form.Group>
      
          <Pyr.Form.Group name="time_commit">
            <Pyr.Form.Label>Time Requirements</Pyr.Form.Label>
            <Pyr.Form.Select>
              <Pyr.Form.Option value="0">Full Time</Pyr.Form.Option>
              <Pyr.Form.Option value="1">Part Time</Pyr.Form.Option>
              <Pyr.Form.Option value="2">Contractor</Pyr.Form.Option>
            </Pyr.Form.Select>
          </Pyr.Form.Group>
      
          <Pyr.Form.Group name="description">
            <Pyr.Form.Label>Description</Pyr.Form.Label>
            <Pyr.Form.TextArea placeholder="Enter description" rows="10" />
          </Pyr.Form.Group>
      
        </Pyr.Form.Form>
        <div className="form-footer">
          <Pyr.Form.SubmitButton target={this} disabled={this.props.isLoading}>{this.methodToName(method)}</Pyr.Form.SubmitButton>
        </div>
      </div>
    );
  }
}

class EditSheet extends Sheet.Edit {
  formPluck(data) {
    return data.candidate;
  }

  renderForm() {
    //alert("JOB EDIT " + this.props.candidate.id);
    return (
      <CandidateForm 
        onPreSubmit={this.onPreSubmit} 
        onPostSubmit={this.onPostSubmit} 
        candidate={this.props.candidate} 
        onSuccess={this.onSuccess}
        method={Pyr.Method.PUT} 
        isLoading={this.state.isLoading}/>
    );
  }
}

class IndexSheet extends Sheet.Index {
  key(item) {
    return CandidatesPage.key(item);
  }

  renderItem(item, isSelected) {
    return (<CandidateItem candidate={item} selected={isSelected} />);
  }
}

class CandidateCVItem extends Sheet.Item {
  constructor(props) {
    super(props);
    this.state = {
      job: null
    };
  }

  setJob(job) {
    this.setState({
      job
    });
  }

  getJob(jobId) {
    let url = Pyr.URL(JOBS_URL).push(jobId);

    this.setState({
      job: null
    });

    Pyr.getJSON({
      url: url,
      context: this,

    }).done((data, textStatus, jaXHR) => {
      this.setJob(data.job);

    }).fail((jaXHR, textStatus, errorThrown) => {
      Pyr.ajaxError(jaXHR, textStatus, errorThrown);

    });
  }

  componentDidUpdate(prevProps, prevUpdate) {
    let pid = prevProps.candidate ? prevProps.candidate.job_id : -1;
    let cid = this.props.candidate ? this.props.candidate.job_id : -1;

    if (pid != cid) {
      this.getJob(cid);
    }
  }

  componentWillMount() {
    this.getJob(this.props.candidate.job_id);
  }

  renderThread() {
    if (!this.state.job) {
      return <Pyr.Loading />
    }

    return (
      <MessageThread
        messageId={this.props.candidate.root_message_id}
        job={this.state.job}
        url={Pyr.URL(MESSAGES_URL)}
      />
    );
  }

  render() {
    let candidate = this.props.candidate;

    let classes = ClassNames("candidate-cv-item flx-col");

    let fullName = candidate.first_name + " " + candidate.last_name;
    let phoneNumber = candidate.phone_number || "No Phone";
    let email = candidate.email || "No Email";
    let description = candidate.description || "No Description";

    let id = "candidate-cv-" + candidate.id;

    return (
      <div className={classes} id={id}>
        <CandidateHeader 
          candidate={candidate}
        />
        <div className="flx-row">
          {this.renderThread()}
        </div>
      </div>
    );
  }
}

class ShowSheet extends Sheet.Show {
  key(item) {
    return CandidatesPage.key(item);
  }

  renderItem(item, isSelected) {
    return (<CandidateCVItem candidate={item} selected={isSelected} />);
  }
}

class New extends Sheet.Base {
  renderForm() { 
    return ( 
      <CandidateForm onPreSubmit={this.onPreSubmit} postSubmit={this.postSubmit} />
    );
  }
}

const CandidateRow = (props) => (
  <tr>
    <td>{props.candidate.first_name}</td>
    <td>{props.job}</td>
    <td>{props.job}</td>
  </tr>
);

class CandidateTable extends Sheet.Index {
  key(item) {
    return "candidate-row-" + item.id;
  }

  render() {
    if (!this.props.items) {
      return null;
    }

    return (
      <table id="candidate-table" className="display col-stretch">
        <thead>
          <tr>
            <th>Candidate</th>
            <th>Job</th>
            <th>Submitted At</th>
          </tr>
        </thead>
        <tbody>
          { 
            this.props.items.map((candidate, pos) => {
              let job = candidate.job_id;
              let key = "candidate-row-" + candidate.id;
              return (<CandidateRow 
                        key={key}
                        candidate={candidate} 
                        job={job} />
              );
            })
          }
        </tbody>
      </table>
    );
  }
}

class CandidatesPage extends Page {
  getInitState(props) {
    return {
      job: props.job, // placeholder until we can fetch the full one
      fullDetail: false
    };
  }

  render_table() {
    return (
      <CandidateTable 
        {...this.props}
        items={this.state.items}
        selected={this.state.selected}
        onSetAction={this.props.onSetAction}
        onSetUnaction={this.props.onSetUnaction}
        onSelect={this.onSelect}
        onUnselect={this.onUnselect}
        getItems={this.getItems}
      />
    );
  }

  indexSheet() {

    return (
      <IndexSheet
        {...this.props}
        items={this.state.items}
        selected={this.state.selected}
        onSetAction={this.props.onSetAction}
        onSetUnaction={this.props.onSetUnaction}
        onSelect={this.onSelect}
        onUnselect={this.onUnselect}
        getItems={this.getItems}
      />
    );
  }

  actionSheet(action) {
    let sheet = Sheet.sheetComponent(action || "Show");
    let ActionSheet = eval(sheet);

    return (
      <ActionSheet
        {...this.props}
        items={this.props.items}
        selected={this.state.selected}
        onAction={this.onAction}
        onUnaction={this.onUnaction}
        onSelect={this.onSelect}
        onUnselect={this.onUnselect}
      />
    );

  }

  getItems() {
    console.log("CANDIDATE GET ITEMS");
    this.getCandidates();
  }

  getCandidates(job) {
    let params = [{"cand": 1}];

    let url = job ? (Pyr.URL(JOBS_URL).push(job.id).set("cand", 1)) : Pyr.URL(CANDIDATES_URL);

    Pyr.getJSON({
      url: url,
      context: this,
      loading: this.onLoading,

    }).done((data, textStatus, jaXHR) => {
      this.onJobLoad(data.job, data.candidates);

    }).fail((jaXHR, textStatus, errorThrown) => {
      Pyr.ajaxError(jaXHR, textStatus, errorThrown);

    });
  }

  onJobLoad(job, candidates) {
    this.setItems(candidates);
    this.setState({
      job
    });
  }

  componentDidUpdate(prevProps, prevState) {
     //alert("Did Update");
    //alert(this.props.job);
    if(this.props.job){
     //alert(this.props.job.uuid);
    }
    let prevId = prevProps.job ? prevProps.job.id : -1;
    let nextId = this.props.job ? this.props.job.id : -1;

    if (prevId != nextId) {
      this.getCandidates(this.props.job);
    }
  }
}

function key(item) {
  return "candidate-" + item.id;
}

CandidatesPage.key = key;


export default CandidatesPage;
