import React, { 
  Component
} from 'react';

import PropTypes from 'prop-types';
import ReactDOM from 'react-dom';

import Pyr from '../../pyr/pyr';
const ClassNames = Pyr.ClassNames;

import Page from '../page';
import Sheet from '../sheet';
import MessageThread from '../messages/message_thread';

import {
  UserAvatar,
  UserScore,
  Stars,
} from '../../util/user';

import {
  MESSAGES_URL,
  JOBS_URL,
  CANDIDATES_URL
} from '../const';

const ACCEPTED_STATE = 100;
const REJECTED_STATE = -100;

const ID_TO_STATE = {
  0: "New",
  100 : "Accepted",
  "-100" : "Passed",
  200 : "Vetting",
  300 : "On Site",
  400 : "Background Checks",
  1000 : "Hired!",
  "-666" : "SPAM",
  "-1000" : "Recalled",
  "-5000" : "Cancelled",
};

function stateString(sid) {
  if (sid in ID_TO_STATE) {
    return ID_TO_STATE[sid];
  }

  return "Unknown";
}

class CandidateHeader extends Component {
  render() {
    if (!this.props.candidate) {
      return <Pyr.Loading />
    }

    let candidate = this.props.candidate;
    let job = this.props.job;

    //let id ="candidate-header" + this.props.candidate.id;

    let fullName = candidate.first_name + " " + candidate.last_name;
    let phoneNumber = Pyr.Util.scramble(candidate.phone_number || "No Phone");
    let email = candidate.email || "No Email";
    let description = candidate.description || "No Description";

    let clazzes = ClassNames("candidate-header flx-noshrink");
    if (candidate.state < 100) {
      //clazzes.push("blurry-text");
    }

    return (
      <div className={clazzes} >
          <Pyr.Grid.Row className="title">
            <Pyr.Grid.ColFull className="name col col-md-12"><Pyr.SmallLabel>Candidate:</Pyr.SmallLabel><span className="">{fullName}</span></Pyr.Grid.ColFull>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row>
            <Pyr.Grid.ColHalf className="phone-number"><Pyr.SmallLabel>PhoneNumber:</Pyr.SmallLabel><span className="">{phoneNumber}</span></Pyr.Grid.ColHalf>
            <Pyr.Grid.ColHalf className="email"><Pyr.SmallLabel>Email:</Pyr.SmallLabel>{email}</Pyr.Grid.ColHalf>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row>
            <Pyr.Grid.ColHalf className="employer"><Pyr.SmallLabel>Employer:</Pyr.SmallLabel> Hmmmmmm</Pyr.Grid.ColHalf>
            <Pyr.Grid.ColHalf className="cost"><Pyr.SmallLabel>Est. Cost:</Pyr.SmallLabel> $27,000</Pyr.Grid.ColHalf>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row className="flx-row-stretch">
            <Pyr.Icon name="linkedin-square" className="social"/>
            <Pyr.Icon name="github" className="social"/>
            <Pyr.Icon name="dribbble" className="social"/>
            <Pyr.Icon name="quora" className="social"/>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row>
            <Pyr.Grid.ColFull className="description">{description}</Pyr.Grid.ColFull>
          </Pyr.Grid.Row>
          <Pyr.Grid.Row className="recruiter-info">
            <Pyr.Grid.ColFull>Interesting stuff about the recruiter goes here!</Pyr.Grid.ColFull>
          </Pyr.Grid.Row>
      </div>
    );
  }
}

class CandidateItem extends Component {

  render() {
    let candidate = this.props.candidate;
    let recruiter = candidate.recruiter;
    let state = Pyr.Util.squish(stateString(candidate.state));

    let id = "candidate-" + candidate.id;
    let allClass = ClassNames("item candidate-item flx-row");

    if (this.props.isSelected) {
       allClass.push("selected");
    }

    allClass.push("state").push(state.toLowerCase());

    let fullName = candidate.first_name + " " + candidate.last_name;
    let phoneNumber = candidate.phone_number || "No Phone";
    let email = candidate.email || "No Email";
    let description = candidate.description || "No Description";

    return (
      <div className={allClass} id={id}>
        <Pyr.Grid.Column className="content">
          <div className="flx-row">
            <div className="state col-md-2">{state}</div>
            <div className="name col-md-3">{fullName}</div>
            <div className="email col-md-3">{email}</div>
            <div className="phone-number col-md-3">{phoneNumber}</div>
          </div>
        </Pyr.Grid.Column>
        <Pyr.Grid.Column className="recruiter col-2 d-flex">
          <UserAvatar
            className={"flx-1"}
            userId={recruiter.id}
            name={recruiter.first_name}
            small
          />
        </Pyr.Grid.Column>
      </div>
    );
  }
}

class CandidateForm extends Component {

  methodToName(method) {
    switch (method) {
      case Pyr.Method.PUT:
        return "Update";
        break

      default:
        return "Create";
        break;
    }
  }

  render() {
    let key = "candidate-form";
    let url = Pyr.URL(JOBS_URL);

    if (this.props.candidate){
      url.push(this.props.candidate.id);
      key = CandidatesPage.key(this.props.candidate);
    }

    let method = this.props.method || Pyr.Method.POST;

    //alert("Render FOrm Candidate " + this.props.candidate.id);


    return (
      <div className="form-parent">
        <Pyr.Form.Form
          model="Candidate"
          object={this.props.candidate}
          url={url}
          method={method}
          id="candidate-form" 
          key={key}
          ref={(node) => { this.form = node; }} 
          onPreSubmit={this.props.onPreSubmit} 
          onPostSubmit={this.props.onPostSubmit}
          onSuccess={this.props.onSuccess}
          onError={this.props.onError}
        >
      
          <Pyr.Form.Group name="title">
            <Pyr.Form.Label>Title</Pyr.Form.Label>
            <Pyr.Form.TextField placeholder= "Enter candidate title"/>
          </Pyr.Form.Group>
      
          <Pyr.Form.Group name="time_commit">
            <Pyr.Form.Label>Time Requirements</Pyr.Form.Label>
            <Pyr.Form.Select>
              <Pyr.Form.Option value="0">Full Time</Pyr.Form.Option>
              <Pyr.Form.Option value="1">Part Time</Pyr.Form.Option>
              <Pyr.Form.Option value="2">Contractor</Pyr.Form.Option>
            </Pyr.Form.Select>
          </Pyr.Form.Group>
      
          <Pyr.Form.Group name="description">
            <Pyr.Form.Label>Description</Pyr.Form.Label>
            <Pyr.Form.TextArea placeholder="Enter description" rows="10" />
          </Pyr.Form.Group>
      
        </Pyr.Form.Form>
        <div className="form-footer">
          <Pyr.Form.SubmitButton target={this} disabled={this.props.isLoading}>{this.methodToName(method)}</Pyr.Form.SubmitButton>
        </div>
      </div>
    );
  }
}

class EditSheet extends Sheet.Edit {
  formPluck(data) {
    return data.candidate;
  }

  renderForm() {
    //alert("JOB EDIT " + this.props.candidate.id);
    return (
      <CandidateForm 
        onPreSubmit={this.onPreSubmit} 
        onPostSubmit={this.onPostSubmit} 
        candidate={this.props.candidate} 
        onSuccess={this.onSuccess}
        method={Pyr.Method.PUT} 
        isLoading={this.state.isLoading}/>
    );
  }
}

class IndexSheet extends Sheet.Index {
  key(item) {
    return CandidatesPage.key(item);
  }

  renderNone() {
    return (
      <div className="empty flx-1 flx-col-stretch">
        <div className="flx-1 flx-row-stretch flx-align-center ml-auto mr-auto">
          <Pyr.Icon name="user-times"/> No candidates have been submitted for this job.
        </div>
      </div>
    );
  }

  sortItems(items) {
    return items;
  }


  childURL(item, isSelected) {
    return Pyr.URL(JOBS_URL).push(item.job_id).push(CANDIDATES_URL).push(item.id);
  }

  renderItem(item, isSelected) {
    return (<CandidateItem candidate={item} isSelected={isSelected} />);
  }
}

class RecruiterMessage extends Component {
  render() {
    if (!this.props.candidate.root_message_id) {
      return null;
    }

    console.log("message id");
    console.log(this.props.candidate);
    if (!this.props.job) {
      return <Pyr.Loading />
    }


    let clazzes = ClassNames("recruiter-message").push(this.props.className);

    return (
      <MessageThread 
        readOnly
        className={clazzes}
        messageId={this.props.candidate.root_message_id}
        job={this.props.job}
        url={Pyr.URL(MESSAGES_URL)}
        onSetItem={this.props.onSetItem}
      />
    );
  }

}

class RecruiterBlurb extends Component {
  constructor(props) {
    super(props);
    this.state = {
      message: null,
    };
  }

  setMessage(message) {
    this.setState({
      message
    });
  }

  getMessage() {
    if (!this.props.candidate.root_message_id) {
      return;
    }

    console.log(this.props.candidate);
    let url = Pyr.URL(MESSAGES_URL).push(this.props.candidate.root_message_id);

    Pyr.getJSON({
      url: url,
      context: this,

    }).done((data, textStatus, jaXHR) => {
      this.setMessage(data.message);

    }).fail((jaXHR, textStatus, errorThrown) => {
      Pyr.ajaxError(jaXHR, textStatus, errorThrown);

    });
  }

  componentDidMount() {
    this.getMessage();
  }
  render() {
    return (
      <div className="recruiter-blurb">
        <div className="icon flx-row flx-start">
          <Pyr.IconButton name="flag" className="spam"/>
          <Pyr.IconButton name="eye" className="ml-auto"/>
        </div>

        <UserAvatar
          userId={this.props.recruiter.id}
          name={this.props.recruiter.first_name}
        />
        <Stars rating={3.7}/>
        <div className="rate">64% acceptance rate</div>
        <div className="company">Awesome Recruiting, Inc</div>
        <div className="location">San Francisco, CA</div>
        <div className="blurb">I specialize in recruiting software engineers
        from top 10 schools.  I have worked with Uber, Twitter,
        BobCo and SallyCo.</div>
      </div>
    );
  }
}

class CandidateCVItem extends Component {
  render() {
    let candidate = this.props.candidate;

    let allClass = ClassNames("cv-item flx-col");

    let fullName = candidate.first_name + " " + candidate.last_name;
    let phoneNumber = candidate.phone_number || "No Phone";
    let email = candidate.email || "No Email";
    let description = candidate.description || "No Description";

    let id = "cv-" + candidate.id;

    return (
      <div className={allClass} id={id}>
        <CandidateHeader 
          candidate={candidate}
        />
        <div>Stuff</div>
      </div>
    );
  }
}

class ShowSheet extends Sheet.Show {
  constructor(props) {
    super(props);
    this.state = {
      job: null,
      showMessages: true
    };

    this.onAccept = this.accept.bind(this);
    this.onReject = this.reject.bind(this);
  }

  stateUpdate(state) {
    let candidate = this.props.selected;

    let url = Pyr.URL(CANDIDATES_URL).push(candidate.id);
    candidate = Object.assign({}, candidate, { state });

    Pyr.getJSON({
      url: url,
      context: this,
      type: Pyr.Method.PUT,
      data: { candidate : { state } },
      //contentType:"application/json; charset=utf-8",

    }).done((data, textStatus, jaXHR) => {
      this.setCandidate(data.candidate);

    }).fail((jaXHR, textStatus, errorThrown) => {
      Pyr.ajaxError(jaXHR, textStatus, errorThrown);

    });
  }

  accept(f, e) {
    //console.log("F");
    //console.log(f);
    //console.log("E");
    //console.log(e);
    this.stateUpdate(ACCEPTED_STATE);
  }

  reject(e) {
    this.stateUpdate(REJECTED_STATE);
  }

  setCandidate(candidate) {
    console.log(candidate);
    this.props.onAddItem(candidate);
    this.props.onSelect(candidate);
  }

  setJob(job) {
    this.setState({
      job
    });
  }

  getJob(jobId) {
    let url = Pyr.URL(JOBS_URL).push(jobId);

    this.setState({
      job: null
    });

    Pyr.getJSON({
      url: url,
      context: this,

    }).done((data, textStatus, jaXHR) => {
      this.setJob(data.job);

    }).fail((jaXHR, textStatus, errorThrown) => {
      Pyr.ajaxError(jaXHR, textStatus, errorThrown);

    });
  }

  componentDidUpdate(prevProps, prevUpdate) {
    let pid = prevProps.jobId;
    let cid = this.props.jobId;

    if (pid != cid) {
      this.getJob(cid);
    }
  }

  componentWillMount() {
    console.log("WILL MOUNT");
    console.log(this.props);
    this.getJob(this.props.jobId);
  }

  key(item) {
    return CandidatesPage.key(item);
  }

  renderHeader(candidate) {
    console.log("RENDER HEADER");
    console.log(candidate);
    let clazzes = ClassNames("actions flx-row p-1 flx-start").push("state").push(stateString(candidate.state));
    return (
      <div className={clazzes}>
        <UserScore className="flx-align-content-start">88</UserScore>:{candidate.state}
        <Pyr.PrimaryButton className="accept ml-auto" onClick={() => this.onAccept(candidate.state)}>Accept</Pyr.PrimaryButton>
        <Pyr.Button className="pass" onClick={this.onReject}>Pass</Pyr.Button>
      </div>
    );
  }

  renderItem(candidate, isSelected) {
    let clazzes = ClassNames(this.state.showMessages ? "" : "hide");
    let recruiter = candidate.recruiter;

    return (
      <Pyr.Grid.Row className="candidate-item">
        <Pyr.Grid.Col className="flx-col left">
          <Pyr.Scroll className="">
            <CandidateCVItem 
              candidate={candidate} 
              isSelected={isSelected} 
            />
 
            <RecruiterMessage 
              className={clazzes}
              job={this.state.job}
              candidate={candidate} 
              selected={isSelected} 
              onSetItem={this.props.onSetItem}
            />
          </Pyr.Scroll>
        </Pyr.Grid.Col>
        <Pyr.Grid.Col className="col-3 right">
          <RecruiterBlurb candidate={candidate} recruiter={recruiter}/>
        </Pyr.Grid.Col>
      </Pyr.Grid.Row>
    );
  }
}

class New extends Sheet.Base {
  renderForm() { 
    return ( 
      <CandidateForm onPreSubmit={this.onPreSubmit} postSubmit={this.postSubmit} />
    );
  }
}

const CandidateRow = (props) => (
  <tr>
    <td>{props.candidate.first_name}</td>
    <td>{props.job}</td>
    <td>{props.job}</td>
  </tr>
);

class CandidateTable extends Sheet.Index {
  key(item) {
    return "candidate-row-" + item.id;
  }

  render() {
    if (!this.props.items) {
      return null;
    }

    return (
      <table id="candidate-table" className="display col-stretch">
        <thead>
          <tr>
            <th>Candidate</th>
            <th>Job</th>
            <th>Submitted At</th>
          </tr>
        </thead>
        <tbody>
          { 
            this.props.items.map((candidate, pos) => {
              let job = candidate.job_id;
              let key = "candidate-row-" + candidate.id;
              return (<CandidateRow 
                        key={key}
                        candidate={candidate} 
                        job={job} />
              );
            })
          }
        </tbody>
      </table>
    );
  }
}

class CandidatesPage extends Page {
  getInitState(props) {
    return {
      job: this.jobMap[props.itemId], // placeholder until we can fetch the full one
      fullDetail: false
    };
  }

  render_table() {
    return (
      <CandidateTable 
        {...this.props}
        items={this.state.items}
        selected={this.getSelected()}
        onSetAction={this.props.onSetAction}
        onSetUnaction={this.props.onSetUnaction}
        onSelect={this.onSelect}
        onUnselect={this.onUnselect}
        onLoadItems={this.onLoadItems}
      />
    );
  }

  indexSheet() {
    console.log("CANDINDEX");

    return (
      <IndexSheet
        {...this.props}
        items={this.state.items}
        onSetAction={this.props.onSetAction}
        onSetUnaction={this.props.onSetUnaction}
        onSelect={this.onSelect}
        onUnselect={this.onUnselect}
        onLoadItems={this.onLoadItems}
      />
    );
  }

  actionSheet(action) {
    console.log("ACDTION SHEET?: ");
    let sheet = Sheet.sheetComponent(action || "Show");
    let ActionSheet = eval(sheet);

    return (
      <ActionSheet
        {...this.props}
        itemId={this.props.subItemId}
        jobId={this.props.itemId}
        selected={this.getItem(this.props.subItemId)}
        jobMap={this.jobMap}
        onAction={this.onAction}
        onUnaction={this.onUnaction}
        onSelect={this.onSelect}
        onUnselect={this.onUnselect}
        onLoadSelected={this.onLoadSelected}
        onAddItem={this.onAddItem}
      />
    );

  }

  loadSelected(itemId, onLoading) {
    console.log("GET ITEM: " + itemId);

    let me = this;

    Pyr.getJSON({
      url: Pyr.URL(CANDIDATES_URL).push(itemId),
      context: me,
      loading: onLoading,

    }).done(function(data, textStatus, jaXHR) {
        me.onSelect(data.candidate);

    }).fail(function(jaXHR, textStatus, errorThrown) {
      Pyr.ajaxError(jaXHR, textStatus, errorThrown);
    });
  }

  loadItems() {
    this.getCandidates(this.props.itemId);
  }

  getCandidates(jobId) {
    console.log("GET CANDIDATES: " + jobId);
    let url = null;

    if (jobId) {
      url = Pyr.URL(JOBS_URL).push(jobId).push(CANDIDATES_URL);
    }
    else {
      url = Pyr.URL(CANDIDATES_URL);
    }

    Pyr.getJSON({
      url: url,
      context: this,
      loading: this.onLoading,

    }).done((data, textStatus, jaXHR) => {
      this.jobLoad(data.job, data.candidates);

    }).fail((jaXHR, textStatus, errorThrown) => {
      Pyr.ajaxError(jaXHR, textStatus, errorThrown);

    });
  }

  jobLoad(job, candidates) {
    this.setItems(candidates);
    this.setState({
      job
    });
  }

  componentDidUpdate(prevProps, prevState) {
     console.log("Did Update");
    //alert(this.props.job);
    if(this.props.job){
     //alert(this.props.job.uuid);
    }
    let prevId = prevProps.itemId;
    let nextId = this.props.itemId;

    console.log("PREV: " + prevId);
    console.log("NEXT: " + nextId);

    if (prevId != nextId) {
      this.setItems(null);
      this.getCandidates(nextId);
    }
  }
}

function key(item) {
  return "cand-" + item.id;
}

CandidatesPage.key = key;


export default CandidatesPage;
