<% include Rails.application.routes.url_helpers %>
<% include Rails.application.helpers %>

import React, { 
  Component
} from 'react';

import PropTypes from 'prop-types';
import ReactDOM from 'react-dom';

import Pyr from '../pyr/pyr';

import Page from './page';

const AddCandidatePage = (props) => (
  <div {...props}>Candidate Page</div>
);

const CandidatesPage = (props) => (
  <Page id="candidates-page-{action.toLowerCase()}" {...props} name="Candidate">
    <AddCandidatePage {...props}/>
  </Page>
);

export default CandidatesPage;


