<% include Rails.application.routes.url_helpers %>
<% include Rails.application.helpers %>

import React, { 
  Component
} from 'react';

import PropTypes from 'prop-types';
import ReactDOM from 'react-dom';

import Page from './page';

import Pyr from '../pyr/pyr';

import { 
  render 
} from 'react-dom';

const AddCandidatePage = (props) => (
  <div {...props}>Candidate Page</div>
);

const CandidatePage = (props) => (
  <Page id="candidates-page" {...props}>
    <AddCandidatePage {...props}/>
  </Page>
);

export default CandidatePage;


