<% include Rails.application.routes.url_helpers %>
<% include Rails.application.helpers %>

const POST = 'POST';

import React, { 
  Component
} from 'react';

import ReactDOM from 'react-dom';

import { 
  render 
} from 'react-dom';

import classNames from 'classnames';

function propsForKids(props, children, kidType) {
  return React.Children.map(children, (child) => {
		if (!kidType || child.type == kidType) {
			return React.cloneElement(child, props);
		}
		return child;
	});
}

function propsRest(props, ripOut) {
	let tmp = Object.assign({}, props);
	ripOut.forEach((a) => {
		delete tmp[a];
	});
  return tmp;
}

function propsMergeClass(props, defaultClasses) {
  let propClassName = props.className || "";
  let fullClass = classNames(defaultClasses, propClassName);

  console.log(fullClass);

  let result = {};
  Object.assign(result, props);
  Object.assign(result, {className:fullClass});

  console.log(result.className);
  
  return result;
}

const Page = (props) => (
  <div {...propsMergeClass(props, "col col-md-12 pyr-page")}>{props.children}</div>
);

const CandidatePage = (props) => (
  <Page id="add-candidate-page" {...props}>
    <AddCandidatePage {...props}/>
  </Page>
);

const AddCandidatePage = (props) => (
  <div {...props}>Candidate Page</div>
);

class PyrForm extends Component {
  constructor(props) {
    super(props);

    this.state = {
      isLoading: false,
      errors: null
    };
  }

  setIsLoading(val=true) {
    this.setState({isLoading: val, errors: null});
  }

  preSubmit() {
		this.setIsLoading();
	}

  postSubmit() {
		this.setIsLoading(false);
	}

  submit(e) {
    //alert("submit");
		if (e) {
    	e.preventDefault();
		}

    if (this.state.isLoading) {
      return;
    }

    let $item = $(ReactDOM.findDOMNode(this));
    let data = $item.serialize();

    this.preSubmit();
    this.innerSubmit(data);
  }

  innerSubmit(data) {
    var self = this;

		$.ajax({
    	type: self.props.method || POST,
      url: self.props.action,
      data: data,
      context: self
    }).done(function(data, textStatus, jaXHR) {
      self.ajaxSuccess(data, textStatus, jaXHR);
    }).fail(function(jaXHR, textStatus, errorThrown) {
      self.ajaxError(jaXHR, textStatus, errorThrown);
    });
  }

  ajaxSuccess(data, textStatus, jqXHR) {
    this.postSubmit();
    if (this.props.onSuccess) {
      this.props.onSuccess(data, textStatus, jqXHR);
    }
    else {
      this.defaultSuccessHandler(data, textStatus, jqXHR);
    }
  }

  defaultSuccessHandler(data, textStatus, jqXHR) {
    // nothing to see here!
  }

  ajaxError(jqXHR, textStatus, errorThrown) {
		this.postSubmit();

    var data;

    if(jqXHR.responseText) {
        try {
          data = $.parseJSON(jqXHR.responseText);
        } catch (err) {}
    }

    if (this.props.onError) {
			this.props.onError(data, jqXHR.status, jqXHR);
    }
    else {
      this.defaultErrorHandler(data, jqXHR.status, jqXHR);
    }

  }

  defaultErrorHandler(data, status, jqXHR) {
    //alert(status);
    alert(JSON.stringify(data.errors));

    if (data) {
  	  if (status == 409 && data.errors.stale_object) { // 409 == Conflict 
				if (this.props.onStaleObject) {
          this.props.onStaleObject(this, data, jqXHR);
        }
        else {
					this.defaultStaleObjectHandler();
				}
			} else if (data.errors) {
        this.setState({errors: data.errors});
			}
    }
  }

  defaultStaleObjectHandler() {
    alert('This record is stale. Please refresh before making your updates');
  }

  onSubmitHandler(e) {
    e.preventDefault();
		this.submit();
	}

  render() {
		let rest = propsRest(this.props, ["preSubmit", "postSubmit"]);

    return (
    	<form ref={(node) => {this.form = node;}} 
				{...rest}
		  	onSubmit={this.onSubmitHandler}
    	>
				{propsForKids({errors: this.state.errors}, this.props.children, PyrFormGroup)}
    	</form>
		);
  }
}

class PyrFormGroup extends Component {
  constructor(props) {
  	super(props);
    this.state = {
			errors: null
		};
  }

  render() { 
		return (
    	<div className="form-group {this.state.errors ? 'error' : ''}">
      {this.props.children}
    	</div>
		);
  }
}

class PyrSubmitButton extends Component {
  constructor(props) {
    super(props);
  }
 
  onClickHandler(e) {
		//alert("CLICK");
    e.preventDefault();

    if (this.props.target) {
      //alert(this.props.target.form.constructor.name);
			this.props.target.form.submit();
		}

  }

  render() {
    return (
      <a href="#" className="btn btn-primary" onClick={this.onClickHandler.bind(this)}>{this.props.children}</a>
    );
  }
}

class AddJobPage extends Component {
  constructor(props) {
    super(props);

		this.state = {
			isLoading: false
		};
  }

  preSubmit() {
		this.setState({isLoading: true});
		if (this.props.preSubmit) {
			this.props.preSubmit();
		}
  }

  postSubmit() {
		this.setState({isLoading: false});
		if (this.props.postSubmit) {
			this.props.postSubmit();
		}
	}

	render() { let self = this;
	return ( 
<div id="job-page-form">
<PyrForm 
	action="<%= url_for([Job.new, {:only_path => true}]) %>" 
	id="new_job" 
	ref={(node) => { this.form = node; }} 
	preSubmit={this.preSubmit} 
	postSubmit={this.postSubmit}
>

  <PyrFormGroup>
    <label htmlFor="job_title">Title</label>
    <input type="text" name="job[title]" className="form-control auto-complete" data-source="<%= jobs_location_path %>" aria-describedby="job_title"  placeholder= "Enter job title"/>
  </PyrFormGroup>
  <div className="form-group">
    <label htmlFor="job_location">Location</label>
    <input type="text" name="job[location]" className="form-control" aria-describedby="job_location" placeholder="Enter location"/>
  </div>
  <div className="form-group">
    <label htmlFor="job_time_commit">Time Requirements</label>
    <select name="job[time_commit]" className="form-control">
      <option value="0">Full Time</option>
      <option value="1">Part Time</option>
      <option value="2">Contractor</option>
    </select>
  </div>
  <div className="form-group">
    <label htmlFor="job_description">Description</label>
    <textarea name="job[description]" className="form-control" aria-describedby="job_description" placeholder="Enter description" rows="10" />
  </div>
</PyrForm>
<div className="form-footer">
  <PyrSubmitButton target={self} disabled={this.state.isLoading}>Create</PyrSubmitButton>
</div>
</div>);
}
}

const JobPage = (props) => (
  <Page id="add-job-page" {...props}>
    <AddJobPage {...props}/>
  </Page>
);

const AddRecruiterPage = (props) => (
  <Page id="add-recruiter-page" {...props}>Add a recruiter here</Page>
);

const RecruiterPage = (props) => (
  <Page id="add-recruiter-page" {...props}>
    <AddRecruiterPage {...props}/>
  </Page>
);

const Title = (props) => (
  <label {...propsMergeClass(props, "title")}>{props.children}</label>
);

const Sidebar = (props) => (
  <div id="side_bar" {...props} >
    <Title htmlFor="job_list" {...props.titleProps}>Jobs</Title>
    <div>{props.children}</div>
  </div>
);

const Row = (props) => (
  <div {...propsMergeClass(props, "row")} >{props.children}</div>
);

const Column = (props) => (
  <div {...propsMergeClass(props, "col")}>{props.children}</div>
);

const Container = (props) => (
  <Row>
    <Column className="col-md-2 red" id="sidebar">
      <Sidebar {...props} />
    </Column>
    <Column className="col-md-10 blue" id="main_page">
      <CandidatePage {...props.candidatePageProps}/>
      <RecruiterPage {...props.recruiterPageProps}/>
      <JobPage {...props.jobPageProps}/>
    </Column>
  </Row>
);

const Footer = (props) => (
  <div>Footer {props.name}!</div>
);

render(
  <Page>
    <Container />
  </Page>,
  document.getElementById('container')
);
