import React, { 
  Component
} from 'react';

import PropTypes from 'prop-types';
import ReactDOM from 'react-dom';
import { 
  render 
} from 'react-dom';

import {
  createStore,
  applyMiddleware
} from 'redux';

import {
  Provider
} from 'react-redux';

import Pyr from '../pyr/pyr';

import Container, { Row, Column } from './container';
import Sidebar, { SidebarSection, SidebarButton } from './side_bar';
import JobsPage, { JobSideButton } from './jobs/jobs_page';
import CandidatesPage, {CandidateSideButton} from './jobs/candidates_page';
import RecruitersPage from './recruiters_page';

const JOBS_PAGE = 'jobs';
const CANDIDATES_PAGE = 'candidates';
const RECRUITERS_PAGE = 'recruiters';

const JOBS_URL = "/jobs";

function ajaxError(jaXHR, textStatus, errorThrown) {
   alert(errorThrown);
}

function same(a,b) {
  return a.uuid == b.uuid;
}

class DashboardContainer extends Container {
  constructor(props) {
    super(props);

    this.state = {
      openPage: JOBS_PAGE,
      jobs: [],
      selected: null,
    };
  }

  setPage(page) {
    this.setState({openPage: page});
    //alert(page);
  }

  getJobs() {
    $.getJSON({
      type: Pyr.Method.GET,
      url: JOBS_URL,
      context: this
    }).done(function(data, textStatus, jaXHR) {
        this.onJobIndex(data.jobs);
    }).fail(function(jaXHR, textStatus, errorThrown) {
      ajaxError(jaXHR, textStatus, errorThrown);
    });
  }


  componentDidMount() {
    this.getJobs();
  }

  same(j1, j2) {
    return j1.uuid == j2.uuid;
  }


  onJobIndex(jobs) {
    this.setState({jobs});
  }

  onJobCreate(job) {
    let newJobs = this.state.jobs.slice().push(job);
    this.onJobIndex(newJobs);
  }

  onJobUpdate(job) {
    let newJobs = this.state.jobs.map((item) => {
      if (same(item, job)) {
        return job;
      }
      return item;
    });
    this.onJobIndex(newJobs);
  }

  onJobDelete(job) {
    let pos = this.state.jobs.findIndex((item) => {
       return same(item, job);
    });
    if (pos) {
      let newJobs = this.state.jobs.slice(0, pos) + this.state.jobs.slice(pos+1);
      this.onJobIndex(newJobs);
    }
  }

  selectJob(e, job) {
    e.preventDefault();

    this.setState({
      openPage: CANDIDATES_PAGE,
      selected: job});
  }

  render() {
    let self = this;

    let jobKids = this.state.jobs.map( (child) => {
        return (<SidebarButton key={child.uuid} onClick={(e) => self.selectJob(e, child) }>{child.title}</SidebarButton>);
      }
    );

    return(
      <Row>
        <Column className="col-md-2 red" id="sidebar">
          <Sidebar {...this.props}>
            <SidebarSection>
              {jobKids}
            </SidebarSection>
            <SidebarButton 
              selected={this.state.openPage==CANDIDATES_PAGE} 
              onClick={(e) => {e.preventDefault(); this.setPage(CANDIDATES_PAGE); } }
            >Candidates</SidebarButton>
            <SidebarButton
              selected={this.state.openPage==RECRUITERS_PAGE} 
              onClick={(e) => {e.preventDefault(); this.setPage(RECRUITERS_PAGE); } }
            >Recruiters</SidebarButton>
          </Sidebar>
        </Column>
        <Column className="col-md-10 blue" id="main_page">
          <JobsPage {...this.props.jobsPageProps} selected={this.state.openPage==JOBS_PAGE} 
            jobs={this.state.jobs}
            onJobCreate={this.onJobCreate.bind(this)}
            onJobUpdate={this.onJobUpdate.bind(this)}
            onJobDelete={this.onJobDelete.bind(this)}
          />
          <CandidatesPage {...this.props.candidatesPageProps} selected={this.state.openPage==CANDIDATES_PAGE} job={this.state.selected}/>
          <RecruitersPage {...this.props.recruiterPageProps} selected={this.state.openPage==RECRUITERS_PAGE} />
        </Column>
      </Row>
    );
  }
}

const Footer = (props) => (
  <div>Footer {props.name}!</div>
);

///
/// 
///

let store = createStore((state) => { return state; })

render(
  <Provider store={store}>
    <DashboardContainer />
  </Provider>,
  document.getElementById('container')
);
