<% include Rails.application.routes.url_helpers %>
<% include Rails.application.helpers %>

import React, { 
  Component
} from 'react';

import PropTypes from 'prop-types';
import ReactDOM from 'react-dom';
import { 
  render 
} from 'react-dom';

import {
  createStore,
  applyMiddleware
} from 'redux';

import {
  Provider
} from 'react-redux';

import {
  capFirstLetter,
  childrenWithProps,
  propsMergeClassName,
} from '../util/util';

import JobPage, { JobSideButton } from './job_page';
import CandidatePage from './candidate_page';
import RecruiterPage from './recruiter_page';


const Title = (props) => (
  <label {...propsMergeClassName(props, "title")}>{props.children}</label>
);


const SidebarButton = (props) => (
  <li {...propsMergeClassName(props, "sidebar-button")}>{props.children}</li>
);

class Sidebar extends Component {
  render() {
    let newKids = React.Children.map(this.props.children, (child) => {
      return (<SidebarButton>{child}</SidebarButton>);
    });

    return (
      <ul id="side_bar" {...this.props} >
        {newKids}
      </ul>
    );
  }
}

const Row = (props) => (
  <div {...propsMergeClassName(props, "row")} >{props.children}</div>
);

const Column = (props) => (
  <div {...propsMergeClassName(props, "col")}>{props.children}</div>
);

const Container = (props) => ( 
   <Row>
    <Column className="col-md-2 red" id="sidebar">
      <Sidebar {...props}>
        <SidebarButton target={this.jobPage}>Jobs</SidebarButton>
        <SidebarButton target={this.candidatesPage}>Candidates</SidebarButton>
        <SidebarButton target={this.sidebarPage}>Recruiters</SidebarButton>
      </Sidebar>
    </Column>
    <Column className="col-md-10 blue" id="main_page">
      <CandidatePage {...props.candidatePageProps}
        ref={(node) => this.candidatePage = node }
      />
      <RecruiterPage {...props.recruiterPageProps}
        ref={(node) => this.recruitersPage = node }
      />
      <JobPage {...props.jobPageProps}
        ref={(node) => this.jobPage = node }
      />
    </Column>
  </Row>
);

const Footer = (props) => (
  <div>Footer {props.name}!</div>
);

///
///
///

render(
  <Provider>
    <Container />
  </Provider>,
  document.getElementById('container')
);
