<% include Rails.application.routes.url_helpers %>
<% include Rails.application.helpers %>

import React, { 
  Component
} from 'react';

import PropTypes from 'prop-types';
import ReactDOM from 'react-dom';
import { 
  render 
} from 'react-dom';

import {
  createStore,
  applyMiddleware
} from 'redux';

import {
  Provider
} from 'react-redux';

import Container, { Row, Column } from './container';
import Sidebar, { SidebarButton } from './side_bar';
import JobsPage, { JobSideButton } from './jobs/jobs_page';
import CandidatesPage from './candidates_page';
import RecruitersPage from './recruiters_page';

const JOBS_PAGE = 'jobs';
const CANDIDATES_PAGE = 'candidates';
const RECRUITERS_PAGE = 'recruiters';

class DashboardContainer extends Container {
  constructor(props) {
    super(props);

    this.state = {
      openPage: JOBS_PAGE
    };
  }

  setPage(page) {
    this.setState({openPage: page});
    //alert(page);
  }

  render() {
    return(
      <Row>
        <Column className="col-md-2 red" id="sidebar">
          <Sidebar {...this.props}>
            <SidebarButton target={this.jobsPage} 
              selected={this.state.openPage==JOBS_PAGE} 
              onClick={(e) => {e.preventDefault(); this.setPage(JOBS_PAGE); } }
            >Jobs</SidebarButton>
            <SidebarButton 
              selected={this.state.openPage==CANDIDATES_PAGE} 
              onClick={(e) => {e.preventDefault(); this.setPage(CANDIDATES_PAGE); } }
            >Candidates</SidebarButton>
            <SidebarButton
              selected={this.state.openPage==RECRUITERS_PAGE} 
              onClick={(e) => {e.preventDefault(); this.setPage(RECRUITERS_PAGE); } }
            >Recruiters</SidebarButton>
          </Sidebar>
        </Column>
        <Column className="col-md-10 blue" id="main_page">
          <JobsPage {...this.props.jobsPageProps} selected={this.state.openPage==JOBS_PAGE} />
          <CandidatesPage {...this.props.candidatesPageProps} selected={this.state.openPage==CANDIDATES_PAGE} />
          <RecruitersPage {...this.props.recruiterPageProps} selected={this.state.openPage==RECRUITERS_PAGE} />
        </Column>
      </Row>
    );
  }
}

const Footer = (props) => (
  <div>Footer {props.name}!</div>
);

///
/// 
///

let store = createStore((state) => { return state; })

render(
  <Provider store={store}>
    <DashboardContainer />
  </Provider>,
  document.getElementById('container')
);
