import React, {
  Component,
} from 'react';

import PropTypes from 'prop-types';
import ReactDOM from 'react-dom';
import { 
  render 
} from 'react-dom';

import {
  BrowserRouter as Router,
  Link,
  Switch,
  Route,
  Redirect
} from 'react-router-dom';

import Pyr from '../pyr/pyr';

import Sidebar from './side_bar';
import JobsPage from './jobs/jobs_page';
import CandidatesPage from './candidates/candidates_page';
import MessagesPage from './messages/messages_page';
import RecruitersPage from './recruiters/recruiters_page';
import SettingsPage from './settings_page';

const JOBS_PAGE = 'Jobs';
const CANDIDATES_PAGE = 'Candidates';
const RECRUITERS_PAGE = 'Recruiters';
const SETTINGS_PAGE = 'Settings';
const MESSAGES_PAGE = 'Messages';
const SEARCH_PAGE = "Search";

class CandidatesPageLocal extends CandidatesPage {
};

const JOBS_URL = "/jobs";
const USERS_URL = "/users";
const SEARCH_URL = "/search";
const RECRUITERS_URL = "/recruiters";
const CANDIDATES_URL = "/candidates";

function PageURL(page) {
  return Pyr.URL().push(page);
}

function isPage(page1, page2, isDefault=false) {
  //console.log("IS PAGE: " + page1 + ":" + page2);
  if (!page1) {
    return isDefault;
  }

  return page1.toLowerCase() == page2.toLowerCase();
}

function same(a,b) {
  return a.id == b.id;
}

const UserLabel = (props) => (
  <div className="nav-item"><Pyr.Icon name="user" className="fa-fw"/><Pyr.SmallLabel>{props.user ? props.user.first_name : ""}</Pyr.SmallLabel></div>
);


class Dashboard extends Pyr.UserComponent {
  constructor(props) {
    super(props);

    this.state = {
      page: MESSAGES_PAGE,
      action: null,
      jobs: [],
      jobMap: {},
      job: null,
      loading: true,
      buttonItemCount: {}
    };

    this.onJobClicks = {};

    this.onJobIndex = this.jobIndex.bind(this);
    this.onJobCreate = this.jobCreate.bind(this);
    this.onJobUpdate = this.jobUpdate.bind(this);
    this.onJobDelete = this.jobDelete.bind(this);

    this.onSetPageMessages = this.setPage.bind(this, MESSAGES_PAGE);
    this.onSetPageJobs = this.setPage.bind(this, JOBS_PAGE);
    this.onSetPageCandidates = this.setPage.bind(this, CANDIDATES_PAGE);
    this.onSetPageRecruiters = this.setPage.bind(this, RECRUITERS_PAGE);
    this.onSetPageSettings = this.setPage.bind(this, SETTINGS_PAGE);

    this.onSetAction = this.setAction.bind(this);
    this.onSetUnaction = this.setAction.bind(this, null);

    this.onSetButtonCount = this.setButtonCount.bind(this);

    this.onLoading = this.setLoading.bind(this);
  }

  userChange(user) {
    console.log("User Change: " + JSON.stringify(user));
  }

  title() {
    return this.state.page;
    //return (this.state.page == CANDIDATES_PAGE) ? (this.state.job ? this.state.job.title : CANDIDATES_PAGE) : this.state.page;
  }

  setButtonCount(page, count=0) {
    console.log("BUTTON COUNT: " + page + ":" + count);
    let buttonItemCount = Object.assign({}, this.state.buttonItemCount);
    buttonItemCount[page] = count;

    this.setState({
      buttonItemCount
    });
  }

  setAction(action, e) {
    console.log("Action set to " + action);
    if (e) {
      e.preventDefault();
    }

    this.setState({
      action
    });
  }

  setPage(page, e) {
    page = page || MESSAGES_PAGE;

    let job = null;

    if (page == CANDIDATES_PAGE) {
      job = this.state.jobs ? this.state.jobs[0] : null;
    }

    let newState = {
      page,
      job
    };

    if (page != this.state.page) {
      newState.action = null;
    }

    //console.log("JOB: " + (job ? job.id : null));

    this.setState(newState);
  }

  setLoading(loading=true) {
    //alert("SETLOADIN: " + loading);
    this.setState({loading});
  }

  getJobs() {
    Pyr.getJSON({
      type: Pyr.Method.GET,
      url: PageURL(JOBS_PAGE),
      context: this,
      loading: this.onLoading,

    }).done(function(data, textStatus, jaXHR) {
        this.onJobIndex(data.jobs);

    }).fail(function(jaXHR, textStatus, errorThrown) {
      Pyr.ajaxError(jaXHR, textStatus, errorThrown);

    });
  }

  componentDidMount() {
    this.getJobs();
  }

  same(j1, j2) {
    return j1.id == j2.id;
  }

  bindClicks(jobs, f) {
    this.onJobClicks = {};
    for(let item of jobs) {
      this.onJobClicks[item.id] = f.bind(this, item);
    }
  }

  componentWillUpdate(nextProps, nextState) {
    if (this.state.jobs != nextState.jobs) {
      this.bindClicks(nextState.jobs, this.selectJob);
    }
  }

  jobIndex(jobs) {
    let buttonItemCount = Object.assign({}, this.state.buttonItemCount);
    buttonItemCount[JOBS_PAGE] = jobs.length;

    buttonItemCount[CANDIDATES_PAGE] = jobs.reduce((sum, job) => {
      return sum + (job.candidate_counts.accepted + job.candidate_counts.waiting);
    }, 0);

    let jobMap = jobs.reduce((m, o) => {m[o.id] = o; return m;}, {});

    let job = jobs.length ? jobs[jobs.length-1] : null;

    this.setState({
      buttonItemCount,
      jobs,
      jobMap,
      job
    });
  }

  jobCreate(job) {
    let newJobs = (this.state.jobs || []).slice();
    newJobs.push(job);

    this.onJobIndex(newJobs);
  }

  jobUpdate(job) {
    let newJobs = this.state.jobs.map((item) => {
      if (same(item, job)) {
        return job;
      }
      return item;
    });
    this.onJobIndex(newJobs);
  }

  jobDelete(job) {
    let pos = this.state.jobs.findIndex((item) => {
       return same(item, job);
    });
    if (pos) {
      let newJobs = this.state.jobs.slice(0, pos) + this.state.jobs.slice(pos+1);
      this.onJobIndex(newJobs);
    }
  }

  selectJob(job, e) {
    // alert("SELECT JOB");

    this.setState({
      page: CANDIDATES_PAGE,
      job: job
    });
  }

  renderSearch() {
    let model = this.state.page;
    let url = Pyr.URL(SEARCH_URL).push(this.state.page);

    return (
      <div>
      <Pyr.Form.Form
        model="search"
        url={url}
        className="search-form"
        ref={(node) => {this.form = node;}}
      >
        <Pyr.Form.Group name="search">
          <Pyr.Icon name="search" /><Pyr.Form.TextField placeholder="Search..."/>
        </Pyr.Form.Group>
      </Pyr.Form.Form>
      </div>
    );
  }

  renderNav() {
    return (
       <Pyr.Grid.Row className="navbar flx-row align-items-center">
          <Pyr.Grid.Col className="col col-1 col-sm-1 col-md-2 navbar-nav">
            <UserLabel user={this.context.user} />
          </Pyr.Grid.Col>
          <Pyr.Grid.Col className="col col-1 col-sm-1 col-md-2 navbar-nav hidden-sm-down">
            <Pyr.SmallLabel className="nav-item">{this.state.page}</Pyr.SmallLabel>
          </Pyr.Grid.Col>
          <Pyr.Grid.Col className="col col-10 col-sm-10 col-md-8 navbar-nav">
            <div className="nav-item ml-auto">{this.renderSearch()}</div>
          </Pyr.Grid.Col>
        </Pyr.Grid.Row>
    );
  }

/*
  render_old() {
    return (
      <div className="red flx-row flx-stretch s1">
        <div className="flx-1 flx-col flx-stretch cyan">
          <div className="flx-1 flx-col flx-stretch green">
            <div className="flx-1 flx-row flx-stretch pink">
              <Pyr.Grid.ColHalf className="white">
                One
              </Pyr.Grid.ColHalf>
              <Pyr.Grid.ColHalf className="blue">
                Two
              </Pyr.Grid.ColHalf>
            </div>
          </div>
        </div>
        <div className="flx-1 flx-col flx-stretch grey">
          <div className="yellow flx-1">
            Bye
          </div>
        </div>
      </div>
    );
  }
*/

  renderCandidateCount(count) {
    if (count == 0) {
      return null;
    }
    return (
      <span>({count})</span>
    );
  }
 
  renderSideBar() {
    let self = this;
    let url = "/:page?/:arg1?/:arg2?/:arg3?";

    return (
      <Route
        path={url}
        render={(props) => {
          return self.renderInnerSideBar(props.match.params);
          }
        }
      />
    );
  }

  renderInnerSideBar(params) {
    let self = this;
    let page = params.page;
    let arg1 = params.arg1;
    let arg2 = params.arg2;

/*
    if (isPage(page, CANDIDATES_PAGE) && !arg1) {
      let url = Pyr.URL(JOBS_PAGE).push(this.state.jobs[0].id).push(CANDIDATES_PAGE);
      return (
        <Redirect to={url.toString()} />
      );
    }
*/

    let jobs = this.state.jobs; //.sort((x, y) => new Date(y.created_at).getTime() - new Date(x.created_at).getTime());

    let jobKids = jobs.map( (job, pos) => {
        let isJob = isPage(page, JOBS_PAGE) && isPage(arg2, CANDIDATES_PAGE);
        let jobId = arg1;

        return (<Sidebar.Button 
                  key={job.id} 
                  url={Pyr.URL(JOBS_URL).push(job.id).push("candidates").toString()}
                  selected={isJob && (job.id == jobId)}
                  onClick={this.onJobClicks[job.id]}
                ><span className="hidden-sm-down">{job.title} {this.renderCandidateCount(job.candidate_counts.accepted + job.candidate_counts.waiting)}</span></Sidebar.Button>
        );
      }
    );


    return (
        <Sidebar.Main {...this.props} className="col col-1 col-sm-1 col-md-2 flx-col h-100">
          <Sidebar.Header 
            id="messages"
            icon="envelope-open-o"
            selected={isPage(page, MESSAGES_PAGE, true)}
            itemCount={this.state.buttonItemCount[MESSAGES_PAGE] || 0}
            onClick={this.onSetPageMessages}
            url="/messages"
            >Messages</Sidebar.Header>

          <Sidebar.Header 
            id="candidates" 
            icon="users"
            selected={isPage(page, CANDIDATES_PAGE) || isPage(arg2, CANDIDATES_PAGE)}
            itemCount={this.state.buttonItemCount[CANDIDATES_PAGE] || 0}
            onClick={this.onSetPageCandidates}
            url="/candidates"
          >Candidates</Sidebar.Header>

          <Sidebar.Header
            className="hidden-md-up"
            id="per-jobs"
            icon="hashtag"
            url="/candidates"
            selected={this.state.job != null}
          />
          <Pyr.Scroll className="sidebar-scroll hidden-sm-down flx-1">
            <Sidebar.Menu>
              {jobKids}
            </Sidebar.Menu>
          </Pyr.Scroll>

          <Sidebar.Header 
            id="jobs"
            icon="bullseye"
            itemCount={this.state.buttonItemCount[JOBS_PAGE] || 0}
            selected={isPage(page, JOBS_PAGE) && !isPage(arg2, CANDIDATES_PAGE)}
            onClick={this.onSetPageJobs}
            url="/jobs"
          >Jobs</Sidebar.Header>
          <Sidebar.Header 
            id="recruiters"
            icon="cubes"
            itemCount={this.state.buttonItemCount[RECRUITERS_PAGE] || 0}
            selected={isPage(page, RECRUITERS_PAGE)}
            onClick={this.onSetPageRecruiters}
            url="/recruiters"
          >Recruiters</Sidebar.Header>
          <Sidebar.Header 
            id="settings"
            icon="gear"
            selected={isPage(page, SETTINGS_PAGE)}
            className="p-b-1"
            onClick={this.onSetPageSettings}
            url="/settings"
          >Settings</Sidebar.Header>
        </Sidebar.Main>
    );
  }

  pageProps(page, jobId) {
    let props = {
      action: this.state.action,
      jobs: this.state.jobs,
      jobMap: this.state.jobMap,
      job: jobId ? this.state.jobMap[jobId] : null,

      onSetAction: this.onSetAction,
      onSetUnaction: this.onSetUnaction,
      onSetButtonCount: this.onSetButtonCount,

      onJobCreate: this.onJobCreate,
      onJobUpdate: this.onJobUpdate,
      onJobDelete: this.onJobDelete,

      showing: true,
      url: PageURL(page),
    };

    return props;
  }

  defaultPage(page, PageComponent) {
    return (
      <Route
        exact
        path={"/"}
        render={(props) => <PageComponent {...this.pageProps(page)} />}
      />
    );
  }

  renderPage(page, PageComponent, includeJob=false) {
    let url = "/"+page.toLowerCase()+"/:itemId?";
    if (includeJob) {
      url = "/jobs/:jobId" + url;
    }

    url = url.toString();
    console.log("RENDER PAGE URL: " + url);
    return (
      <Route
        path={url}
        render={(props) => {
            console.log("MATCH: " + page);
            console.log(PageComponent);
            console.log(props.match);
            console.log(props.match.params.itemId);
            console.log(props.match.params.jobId);
            return (<PageComponent {...this.pageProps(page, props.match.params.jobId)} {...props.match.params} />);
          }
        }
      />
    );
  }

  renderMain() {
    let mainTitle = this.title();
    let me = this;

    return (
        <main 
          className="col col-11 offset-1 col-sm-11 offset-sm-1 col-md-10 offset-md-2 flx-col flx-1 main-page" 
          id="main-page"
        >
          <div className="d-flex flx-1">
            <Switch>
              {this.renderPage(MESSAGES_PAGE, MessagesPage)}
              {this.renderPage(CANDIDATES_PAGE, CandidatesPage, true)}
              {this.renderPage(CANDIDATES_PAGE, CandidatesPage)}
              {this.renderPage(JOBS_PAGE, JobsPage)}
              {this.renderPage(RECRUITERS_PAGE, RecruitersPage)}
              {this.renderPage(SETTINGS_PAGE, SettingsPage)}
              {this.defaultPage(MESSAGES_PAGE, MessagesPage)}
            </Switch>
          </div>
        </main>
    );
  }

  render() {
    //alert(this.state.page == CANDIDATES_PAGE);
    // React went bonkers changing the top level dude

    if (this.state.loading || !this.state.jobs) {
      return (
        <Pyr.Grid.FullContainer key="react-top">
          <Pyr.Loading />
        </Pyr.Grid.FullContainer>
      );
    }

    return(
      <Pyr.Grid.FullContainer key="react-top">
        { this.renderNav() }
        <div className="flx-row flx-1">
          { this.renderSideBar() }
          { this.renderMain() }
        </div>
      </Pyr.Grid.FullContainer>
    );
  }
}

const Footer = (props) => (
  <div>Footer {props.name}!</div>
);

///
/// 
///

render (
  <Pyr.UserProvider>
    <Router>
      <Dashboard />
    </Router>
  </Pyr.UserProvider>,

  document.getElementById('react-container')
);
