<% include Rails.application.routes.url_helpers %>
<% include Rails.application.helpers %>

import React, { 
  Component
} from 'react';

import PropTypes from 'prop-types';
import ReactDOM from 'react-dom';

import Pyr from '../pyr/pyr';
import Page from './page';
import Sheet from './sheet';

class IndexSheet extends Sheet {
  render() {
    return (
      <h2>Messages Index Sheet</h2>
    );
  }
}

class ShowSheet extends Sheet {
  render() {
    return (
      <h2>Messages Show Sheet</h2>
    );
  }
}

class MessagesPage extends Page {
  name() {
    return "Messages";
  }

  indexSheet() {
    return (
      <IndexSheet 
        {...this.props} 
        items={this.items()} 
        onSelect={this.onSelect} 
      />
    );
  }
  
  actionSheet(action) {
    let sheet = Sheet.sheetComponent(action || "Show");
    let ActionSheet = eval(sheet);

    return (
      <ActionSheet 
        {...this.props}
        items={this.items()}
        selected={this.state.selected}
        onAction={this.onAction}
        onUnaction={this.onUnsaction}
      />
    );
    
  }
}

export default MessagesPage;
