
import React, {
  Component
} from 'react';

import PropTypes from 'prop-types';

import Pyr from '../pyr/pyr';
const ClassNames = Pyr.ClassNames;

const SHOW_ACTION = "Show";

class Page extends Pyr.UserComponent {
  getInitState(props) {
    return {};
  }

  constructor(props) {
    super(props);

    console.log("PAGE PARAMS: " + props);

    let myState = {
      items: null,
      selected: null,
      fullDetail: false,
    };


    let jobs = this.props.jobs || [];
    this.jobMap = jobs.reduce((m, o) => {m[o.id] = o; return m;}, {});

    this.onSelect = this.setSelected.bind(this);
    this.onUnselect = this.setSelected.bind(this, null);

    //this.onSetAction = this.setAction.bind(this);
    //this.onSetUnaction = this.setAction.bind(this, null);

    this.onSetItems = this.setItems.bind(this);

    this.onLoadItems = this.loadItems.bind(this);
    this.onLoadSelected = this.loadSelected.bind(this);
    this.onAddItem = this.addItem.bind(this);

    this.state = Object.assign(myState, this.getInitState(props));
  }

  name() {
    let fullName = this.constructor.name;
    let pos = fullName.search("Page");
    if (pos == -1) {
      alert("page.jsx: You need to define a name cuz you didn't name your subclass *Page");
    }
    let name = fullName.substring(0, pos);
    return name;
  }

  setRoute(item) {
    let fullUrl = Pyr.URL(this.props.url);
    if (item) {
      fullUrl.push(item.id);
    }
    this.context.router.history.push(fullUrl.toString());
  }

  addItemCompare(a, b) {
    return a.id == b.id;
  }

  addItem(item) {
    //console.log("ITEM: " + item);
    //console.log(this.state.items);

    if (!item) {
      return;
    }

    let items = this.state.items || [];
    let found = false;

    let copy = items.map((val, pos) => {
      if (this.addItemCompare(val, item)) {
        found = true;
        return item;
      }
      return val;
    });

    //console.log(copy);
    //console.log("ITEM FOUND: " + found);

    if (!found) {
      copy.push(item);
    }
    this.setItems(copy);
  }

  setItems(items) {
    this.setState({ 
      items
    });
  }

  loadItems() {
    alert("Page:loadItems needs to be implemented");
  }

  loadSelected(hid) {
    alert("Page:loadSelected needs to be implemented");
  }

////// COPY ME INTO SUBCLASS //////

  indexSheet() {
    alert("page.jsx: IF YOU ARE SEEING THIS, COPY THESE INTO SUBCLASS");

    return (
      <IndexSheet 
        {...this.props} 
        onSelect={this.onSelect}
        onUnselect={this.onUnselect}
        loading={this.state.loading}
      />
    );
  }

  actionSheet(action) {
    alert("page.jsx: IF YOU ARE SEEING THIS, COPY THESE INTO SUBCLASS");

    let sheet = Sheet.sheetComponent(action || SHOW_ACTION);
    let ActionSheet = eval(sheet);

    return (
      <ActionSheet 
        {...this.props}
        items={this.state.items}
        onSelect={this.onSelect} 
        onSetItems={this.onSetItems}
        loading={this.state.loading}
      />
    );
   
  }

  showActionSheet() {
    //return !!this.props.itemId;
    return !!this.props.action;
  }

///// END ////

  setSelected(selected) {
    console.log("SELECTED " + JSON.stringify(selected));

    this.setState({
      selected
    });
    this.props.onSetAction(SHOW_ACTION);
  }

  getSelected() {
    return this.state.selected;
  }

  getAction() {
    return this.props.action || SHOW_ACTION;
  }

  setActionOld(action) {
    //alert("Set Acxtion" + action);
    this.setState({action});
  }

  renderIndexSheet() {
    let extraClass = ClassNames("index flx-col flx-1");

    if (this.showActionSheet()) {
      return this.renderNoSheet(); // extraClass.push("hidden");
    }

    return (
      <div className={extraClass}>
        {this.indexSheet()}
      </div>
    );
  }

  renderNoSheet() {
    return null;
  }

  renderActionSheet() {
    if (!this.showActionSheet()) {
      return this.renderNoSheet();
    }

    let action = this.getAction();

    let extraClass = ClassNames("action flx-col flx-1").push(action.toLowerCase());

    return (
      <div className={extraClass}>
        {this.actionSheet(action)}
      </div>
    );
  }

  renderHeader() {
    return null;
  }


  render() {
    if (this.props.showing == undefined) {
      alert("If you don't send in showing you won't see shit!");
    }
    if (!this.props.showing) {
      return null;
    }

    let id = this.name().toLowerCase() + "-page";

    console.log("PAGE props");
    console.log(this.props);

    return (
        <div className="d-flex flx-1 page flx-col cwikla">
          {this.renderHeader()}
          {this.renderIndexSheet()}
          {this.renderActionSheet()}
        </div>
    );
  }

}
Page.key = (item) => {
  return item.id;
}

export default Page;
