
import React, {
  Component
} from 'react';

import Pyr from '../pyr/pyr';

class Page extends Component {
  render() {
    let myClasses = "page col col-md-12 transition" + (this.props.selected ? " on" : " off");
    return (
      <div {...Pyr.Util.propsMergeClassName(this.props, myClasses)}>{this.props.children}</div>
    );
  }
}

export default Page;

