<% include Rails.application.routes.url_helpers %>
<% include Rails.application.helpers %>

import React, { 
  Component
} from 'react';

import PropTypes from 'prop-types';
import ReactDOM from 'react-dom';

import Pyr from '../pyr/pyr';
import Page from './page';


const AddRecruiterPage = (props) => (
  <div id="add-recruiter-page" {...props}>Add a recruiter here</div>
);

const RecruitersPage = (props) => (
  <Page id="recruiters-page" {...props} name="Recruiter">
    <AddRecruiterPage {...props}/>
  </Page>
);

export default RecruitersPage;
