<% include Rails.application.routes.url_helpers %>
<% include Rails.application.helpers %>

import React, { 
  Component
} from 'react';

import PropTypes from 'prop-types';
import ReactDOM from 'react-dom';

import Pyr from '../pyr/pyr';
import Page from './page';
import Sheet from './sheet';

class RecruiterItem extends Component {
  render() {
    return (
      <h3>Check it out, I'm a recruiter</h3>
    );
  }
}


class IndexSheet extends Sheet.Index {
  key(a) {
    return RecruitersPage.key(a)
  }

  renderItem() {
    return ( <RecruiterItem /> );
  }
}

class ShowSheet extends Sheet.Show {
  key(a) {
    return RecruitersPage.key(a)
  }

  renderItem() {
    return ( <RecruiterItem /> );
  }
}

class RecruitersPage extends Page {
  getItems() {
    // FIXME
  }

  indexSheet() {
    return (
      <IndexSheet 
        {...this.props} 
        items={this.state.items} 
        onSelect={this.onSelect} 
      />
    );
  }
  
  actionSheet(action) {
    let sheet = Sheet.sheetComponent(action || "Show");
    let ActionSheet = eval(sheet);

    return (
      <ActionSheet 
        {...this.props}
        items={this.state.items}
        selected={this.state.selected}
        onAction={this.onAction}
        onUnaction={this.onUnaction}
      />
    );
    
  }
}
function key(item) {
  return item.uuid;
}
RecruitersPage.key = key;

export default RecruitersPage;
