<% include Rails.application.routes.url_helpers %>
<% include Rails.application.helpers %>

import React, { 
  Component
} from 'react';

import PropTypes from 'prop-types';
import ReactDOM from 'react-dom';
import { 
  render 
} from 'react-dom';

import {
  createStore,
  applyMiddleware
} from 'redux';

import {
  Provider
} from 'react-redux';

import Pyr from '../pyr/pyr';
const ClassNames = Pyr.ClassNames;

class Button extends Component {
  constructor(props) {
    super(props);
  }

  render() {
    let myClass = ClassNames("sidebar-button");
    if (this.props.selected) {
      myClass.push("selected");
    }

    return(
      <li {...Pyr.Util.propsMergeClassName(this.props, myClass)} ><span className="inner"><span className="name">{this.props.children}</span></span></li>
    );
   }
}

class Header extends Component {
  renderIcon() {
    if (!this.props.icon) {
      return null;
    }

    return (
      <Pyr.Icon name={this.props.icon}/>
    );
  }

  renderCount() {
    if (!this.props.itemCount) {
      return null;
    }

    return (
      <span> ({this.props.itemCount})</span>
    );
  }

  render() {
    let myClass = ClassNames("sidebar-header");
    if (this.props.selected) {
      myClass.push("selected");
    }

    //console.log(this.props.itemCount);
    //console.log(this.props.children);
    let restProps = Pyr.Util.propsRemove(this.props, ["itemCount"]);

    return (
      <div {...Pyr.Util.propsMergeClassName(restProps, myClass)}><span className="inner">{this.renderIcon()} <Pyr.SmallLabel>{this.props.children}{this.renderCount()}</Pyr.SmallLabel></span></div>
    );
  }
}


const Menu = (props) => (
  <ul {...Pyr.Util.propsMergeClassName(props, "sidebar-menu flx-1")}>
    {props.children}
   </ul>
);

class Main extends Component {
  render() {
    let newKids = this.props.children;
    let classes = "sidebar";

    return (
      <div id="sidebar" {...Pyr.Util.propsMergeClassName(this.props, classes)} >
        {newKids}
      </div>
    );
  }
}

const Sidebar = {
  Main,
  Menu,
  Header, 
  Button
};

export default Sidebar;
