<!-- Sidebar -->
            <ul class="flex-column style="border-style: solid; border-left: thick double #ff0000">
                <li class=" pt-2 pt-md-2">
                    <a href="#">Dashboard</a>
                </li>
                <li class=" pt-2 pt-md-2">
                    <a href="#">Jobs</a>
                </li>
                <li class=" pt-2 pt-md-2">
                    <a href="#">Candidates</a>
                </li>
                <li class=" pt-2 pt-md-2">
                    <a href="#">Recruiters</a>
                </li>
            </ul>
