<% if user_signed_in? %>
  <div class="flx-row flx-stretch flx-1" id="react-container">
      <%= yield %>
  </div>
<%= javascript_pack_tag "pages/#{params[:controller]}" %>

<% else %>

  <%= yield %>
<% end %>
