<% if session[:debug] %>
<! -- nothing to see here !-->
<div class="debug">
<% if Rails.env.development? %>
<hr>
<p class="text-warning">DEBUG</p>
<%= debug(params) if Rails.env.development? %>
<% end %>
</div>
<% end %>
