<% if !user_signed_in? %>
<div class="flx-col flx-1">
  <footer class="footer mt-auto">
    <div class="links flx-col">
      <div class="flx-row">
        <div class=""><a href="/about">About Us<a/></div>
        <div class=""><a href="/contact">Contact Us</a></div>
      </div>
      <div class="flx-row">
        <div class=""><a href="/terms">Terms of Service</a></div>
        <div class=""><a href="/privacy">Privacy Policy</a></div>
        <span class="m-center">&#x24B8; <%= Date.today.year %> <%= app_name %></span>
      </div>
    </div>
  </footer>
</div>
<% end %>

