<div class="chairs" id="chairs_jumbo">
  <div class="jumbotron trans-15 flx-col">
  </div>
</div>


<div class="about">
    <h2>About <%= APP_NAME %></h2>
    <p>
    We are like you. Over the years we've had to hire people for growing companies or just to replace coworkers
    that had moved on. You start with job boards because they are cheap or free. Then you realize why. Job boards are terrible.  
    The amount of spam and unqualified resumes overwhelms you.
    </p>

    <p>
    Recruiters look promising. You get an email with a perfect candidate, only to find that candidate is no longer available.
    But with a long term contract they can find more. Is this recruiter worth the money you are paying? You have no idea.
    So you bargain down from a 25% fee to a 15% fee - you want to hedge your bets. But when a great candidate comes in why
    would they go to you first if they have another client paying the 25%?
    </p>

    <p>
    Another recruiting sends every single client in their system - their contract has a "first in wins" clause.  So with no
    work they hope YOU will do the work and find a candidate you like.  It's basically spam.
    </p>

    <p>
    But then you find a great recruiter. They find some good candidates, but it might take a while.  They keep you informed.
    They keep the candidate engaged.  Now you open up 2 or 3 more reqs, maybe in different areas - and things slow down. 
    You just don't have the pipeline you need. 
    </p>

    <p>
    In the end you end up with a handfull of recruiters of all types and end up juggling contracts and candidates (don't want
    to accidentally hire one that you got in the past year from another recruiter and pay twice!).  
    </p>

    <p>
    We knew there had to be a better way. 
    </p>

    <ol>
      <li>We built a system so you can manage your current recruiters.</li>
      <li>We added a marketplace so you don't have to spend your time finding new recruiters or dealing with them one on one.</li>
      <li>We added ratings so you'll know who the best recruiters are.  </li>
      <li>We even use those ratings when we rank and filter candidates for your open positions.</li>
      <li>And we made everything easy to use.</li>
    </ol>

    <p>
      Welcome to <b><%= APP_NAME %></b>!
    </p>

</div>
