<div class="contact">
  <h2>Contact Us</h2>
  <p>Thanks for your interest in <%= APP_NAME %>!  We'd love to hear from you or
  to answer any questions you may have.  You can email us directly at</p>

  <h3><a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a></h3>

  <p>
  We'll get back to you as quickly as we can.
  </p>
</div>
