<div class="boardroom">
<div class="jumbotron trans-50">
    <div class="container shaded">
      <h1 class="text-white">Kick your hiring up a notch</h1>
      <h5 class="text-black">Engage with multiple recruiters to find your employees faster</h5>
      <div class="mt-2">
        <a href="#" class="btn btn-action pyr-button" pyr-target-modal="register-modal">SIGN UP NOW</a>
      </div>
    </div>
</div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h6 class="text-primary">Real candidates sourced by real people.</h6>
      <p>Finding candidates, especially passive candidates, takes time. Save time by having recruiters do the work for you.  When you upload your job requirements our marketplace of hundreds of recruiters do the work of sourcing qualified candidates for you. You can even invite your own recruiters to join!
      </p>
    </div>
    <div class="col-md-4">
      <h6 class="text-primary">Focus on the best.</h6>
      <p>Don't guess if a recruiter is worth your time. Avoid spammy headhunters with our sophisticated AI filtering system that brings the best candidates to your attention. Community ratings and history will help you zero in on which recruiters, and which candidates, are worth your attention.</p>
    </div>
    <div class="col-md-4">
      <h6 class="text-primary">Pay only for success.</h6>
      <p>With traditional recruiters you get tied to a different year long contract whether they are performing or not. With Cruitz each position lets you choose the recruiters that gives you the best candidate, rate, fee or service - it's your choice. Don't be locked into a bad or expensive recruiter because they surfaced a candidate first. And we get that sometimes things just don't work out  - if your employee leaves within 30 days we will return 100% of your fees.</p>
    </div>
  </div>
</div>

