
<div class="boardroom" id="boardroom_jumbo">
  <div class="jumbotron trans-25">
      <h1 class="text-white">Kick your hiring up a notch</h1>
      <h3 class="text-black">Engage with multiple recruiters to find your employees faster</h3>
      <div class="mt-2">
        <a href="#" class="btn btn-primary pyr-button" data-pyr-target-modal="register-modal">SIGN UP NOW</a>
      </div>
  </div>
</div>

<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselIndicators" data-slide-to="1"></li>
    <li data-target="#carouselIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="flx-row">
        <div class="flx-col">
          <span class="ml-auto mr-auto">One Job</span>
          <span class="ml-auto mr-auto">Stuff here.</span>
        </div>
        <%= image_tag "images/job", class: "d-block w-100", alt: "Your Job" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="flx-row">
        <div class="flx-col">
          <span class="ml-auto mr-auto">One Job</span>
          <span class="ml-auto mr-auto">Stuff here.</span>
        </div>
        <%= image_tag "images/recruiters", class: "d-block w-100", alt: "Your Job" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="flx-row">
        <div class="flx-col">
          <span class="ml-auto mr-auto">One Job</span>
          <span class="ml-auto mr-auto">Stuff here.</span>
        </div>
        <%= image_tag "images/candidates", class: "d-block w-100", alt: "Your Job" %>
      </div>
    </div>
  </div>
</div>

<script>
$('.carousel').carousel({
  interval: 5000
});
</script>
