<div class="recruiters" id="recruiters_jumbo">
  <div class="recruit-tron">
  <div class="jumbotron trans-25 flx-col">
    <div class="v-center flx-col">
      <h1 class="main text-white m-center">We found the jobs. You find the candidates</h1>
      <h3 class="sub m-center">
        You are already great at what you do. </h3>
      <h3 class="sub m-center">Our technology and network will help you place more candidates
      </h3>
      <a href="#" class="m-center btn btn-primary pyr-button" data-pyr-target-modal="register-modal">SIGN UP NOW</a>
    </div>
  </div>
  </div>


<div class="container">
  <!-- Example row of columns -->
  <div class="flx-row options">
    <div class="flx-1 flx-col">
      <h3 class="text-primary">More opportunities</h3>
      <p>
        Stop spending valuable time chasing down leads and negotiating contracts.
        Submit applicants directly to employers and keep up to date with real time
        messages and status. We make it easy to set your fee and make sure you 
        are paid on time.
      </p>
    </div>
    <div class="flx-1 flx-col">
      <h3 class="text-primary">Stand out from the rest</h3>
      <p>You know you are great at what you do, but convincing an employer to take a chance takes work. 
      Your <%= APP_NAME %> rank shows employers just how good you are using employer ratings and submission
      and acceptance rates.  
      </p>
    </div>
    <div class="flx-1 flx-col">
      <h3 class="text-primary">Bring your existing relationships with you</h3>
        Our dashboard makes it easy for you to import your existing companies and 
        candidates and track open positions and applications all one place. 
        Companies that refer you into the system have no <%= APP_NAME %> commission for any candidate you place!
      </p>
    </div>
  </div>
</div>

</div>
