<div class="recruiters">
<div class="jumbotron trans-50">
    <div class="container shaded">
      <h2 class="text-white">Reach more employers and increase your bottom line.</h2>
      <h5 class="text-black">You are already great at what you do. Out technology and network will help you reach more companies and place more candidates!</h5>
      <div class="mt-2">
        <%# <a href="#" class="btn btn-action js-button" data-dismiss="modal" data-toggle="modal" data-target="#register-modal" pyr-modal="register-modal">SIGN UP NOW</a> %>
        <a href="#" class="btn btn-action js-button" pyr-modal="register-modal">SIGN UP NOW</a>
      </div>
    </div>
</div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h6 class="text-primary">Expand your network</h6>
      <p>Finding candidates, especially passive candidates, takes time. Save time by having recruiters do the work for you.  When you upload your job requirements our marketplace of hundreds of recruiters do the work of sourcing qualified candidates for you. You can even invite your own recruiters to join!
      </p>
    </div>
    <div class="col-md-4">
      <h6 class="text-primary">Stand out from the rest</h6>
      <p>You know you are great at what you do, but convincing an employer to take a chance takes work. With Cruitz you can manage how companies see your profile and which companies to interact with. You can customize each candidate submission to catch an employers attention, control each commission and add extra services like reference and background checks.
      </p>
    </div>
    <div class="col-md-4">
      <h6 class="text-primary">Bring your existing relationships with you</h6>
      <p>Our dashboard makes it easy for you to import your existing companies and candidates and track open positions and applications all one place. Companies that you refer into the system have a reduced commision to <%= @commission %>% for any candidate you place!
      </p>
    </div>
  </div>
</div>

