<div class="flx-col getter part">
  <h3 class="m-center">Scale your recruiting pipeline</h3>
  <div class="flx-row">

    <p class="flx-1">
      You have positions to fill, but not enough time or resources to find candidates.
    </p>

    <ol class="flx-1">
      <li>Forget about low quality or old resumes from job boards</li>
      <li>Don't spend fruitless hours searching on networking sites</li>
      <li>First contact with a human</li>
      <li>A cold introduction email from a recruiter with a "perfect" resume that is no longer available</li>
      <li>A lower commission that puts you on the bottom of a recruiter's customer list</li>
      <li>A year long contract with a recruiter or agency before you know their quality</li>
      <li>The same recruiter is not necessarily capable of sourcing for all types of reqs</li>
      <li>Juggling candidates and progress between recruiters</li>
    </ol>
  </div>

  <div class="flx-row">
    <ol class="flx-1">
      <li>Search and sell your company and the position to passive candidates</li>
      <li>Evaluate your needs vs the candidate's qualifications</li>
      <li>Keep the candidate interested during the process</li>
      <li>Keep the process moving forward to close qualified candidates</li>
    </ol>
    <p class="flx-1">You have positions to fill, but not the time nor the resources to find candidates. Contingent recruiters who</p>
  </div>
</div>

