<div class="why flx-col">

  <div class="part flx-row flx-1">
      At cruitz we believe recruiters are the best way to augment your hiring needs.
  </div>

  <div class="part flx-row flx-1">
    <div class="flx-col flx-1">
      Great recruiters can find passive candidates and get them interested in talking with you
      about your job.  They remove the burden of dealing with too many unqualified and junk resumes from job boards.
      But engaging with even a small number of recruiters can be time consuming to manage while you wait for
      results.
    </div>
    <div>
      Cruitz makes it easy to manage your current recruiters, while opening up your positions to our recruiting
      marketplace. 
        <ol>
          <li>Straightforward interface</li>
          <li>Real time messaging and status updates</li>
          <li>Free to use, you only pay a recruiter's fee when a candidate is successfully employed</li>
          <li>Recruiter and agency rankings are part of a candidate's score
        </ol>
    </div>
  </div>


  <div class="part flx-row flx-1">
    <div class="flx-col flx-1">
  Passive candidates are hard to find
    </div>
  </div>


  <div class="part flx-row flx-1">
    <div class="flx-col flx-1">
  Recruiters hold the leverage
    </div>
  </div>

  <div class="part flx-row flx-1">
    <div class="flx-col flx-1">
  Time wasted 
    </div>
  </div>

</div>
