<div class="col col-md-12 pyr-page page-default" id="dashboard-page">
  <div class="row">
    <div class="col col-md-4">
      <%= render "pages/dashboard/level_one" %>
    </div>
    <div class="col col-md-8">
      <%= render "pages/dashboard/level_two" %>
    </div>
  </div>
</div>
