<% if @jobs.empty? %>

  <div class="row">
    <div class="col">
      <center><h1><%= link_to new_job_path do %> <span class="fa fa-plus-circle"></span> Add a job<% end %></h1></center>
      <center><h1><a href="#"><span class="fa fa-plus-circle"></span> Invite a recruiter</a></h1></center>
    </div>
  </div>
<% else %>

<% end %>
