<% if @jobs.empty? %>

  <div class="row">
    <div class="col">
      <center><h1><a href="#"><span class="fa fa-plus-circle"></span> Add a job</a></h1></center>
      <center><h1><a href="#"><span class="fa fa-plus-circle"></span> Invite a recruiter</a></h1></center>
    </div>
  </div>
<% else %>

<% end %>
