<div class="col col-md-12 pyr-page hello" id="dashboard-page">
  <div class="row">
    <div class="col col-md-4">
      <%= render "dashboard/pages/level_one" %>
    </div>
    <div class="col col-md-8">
      <%= render "dashboard/pages/level_two" %>
    </div>
  </div>
</div>
