<div class="col col-md-10 pyr-page hello" id="dashboard-page">
  <div class="col col-md-4">
    <%= render "dashboard/pages/level_one" %>
  </div>
  <div class="col col-md-6">
    <%= render "dashboard/pages/level_two" %>
  </div>
</div>
