@import "sidebar";
@import "candidates";

@include media-breakpoint-down(xs) {
  .hide-below-xs {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .hide-below-sm {
    display: none;
  }
}
@include media-breakpoint-down(md) {
  .hide-below_md {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .hide-below-lg {
    display: none;
  }
}

@include media-breakpoint-down(xl) {
  .hide-below-xl {
    display: none;
  }
}

.main-page {
  margin: 0;
  padding: 0;
}


#container {
  margin: 0;
  padding: 0;
}

.nav-tabs {
  box-shadow: none;
}

.navbar {
  box-shadow: none;
}

#main-nav-line {
  margin-top: 0;
  margin-bottom: 0;
}

.btn-action, .btn-primary {
  box-shadow: none;
}

.card-icon {
  padding: 1.25rem;
}

.error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.hidden {
  display: none;
}


.transition {
  transition: all .25s ease-in;  
  transition-property: opacity, display;
}

.on {
  opacity: 1;
}

.off {
  opacity: 0.0;
  display: none;
}

.page {
  padding-top: 1rem;
}

