@import "sidebar";
@import "candidates";

@include media-breakpoint-down(xs) {
  .hide-below-xs {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .hide-below-sm {
    display: none;
  }
}
@include media-breakpoint-down(md) {
  .hide-below_md {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .hide-below-lg {
    display: none;
  }
}

@include media-breakpoint-down(xl) {
  .hide-below-xl {
    display: none;
  }
}

.btn-action, .btn-primary {
  box-shadow: none;
}

.card-icon {
  padding: 1.25rem;
}

.error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.hidden {
  display: none;
}


.transition {
  transition: all .25s ease-in;  
  transition-property: opacity, display;
}

.on {
  opacity: 1;
}

.off {
  opacity: 0.0;
  display: none;
}

.navbar {
  background-color: $navbar_background_color !important;
  font-size: 1rem;
  padding: 0.5rem;
  border-bottom: 1px $navbar_border_color solid;
}

.navbar-brand {
  color: $navbar_color !important;
  font-size: 1rem;
  margin: 0;
}

.navbar-brand:hover {
    color: $navbar_color !important;
    font-weight: bold;
}

.navbar-toggler {
  color: $navbar_menu_color !important;
  padding: 0;
  margin: 0;
}

.navbar-toggler:hover {
  color:  $navbar_hover_color !important;
}

.nav-link {
  color: $navbar_menu_color !important;
  padding: 0;
}

.nav-link, .nav-icon:focus {
  outline: none;
}

.nav-link:hover, .nav-icon:hover {
  color:  $navbar_hover_color !important;
}


.main-page {
  margin: 0;
  padding: 0;
}

.main-title {
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  border-bottom: 1px $primary_color solid;
  color: $primary_color;
}


#container {
  margin: 0;
  padding: 0;
}

.nav-tabs {
  box-shadow: none;
}

.navbar {
  box-shadow: none;
}

#main-nav-line {
  margin-top: 0;
  margin-bottom: 0;
}

.index-sheet {
  border-right: 1px $primary_color solid;
}
