

@include media-breakpoint-down(xs) {
  .hide-below-xs {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .hide-below-sm {
    display: none;
  }
}
@include media-breakpoint-down(md) {
  .hide-below_md {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .hide-below-lg {
    display: none;
  }
}

@include media-breakpoint-down(xl) {
  .hide-below-xl {
    display: none;
  }
}

@import "sidebar";

.nav-tabs {
  box-shadow: none;
}

.navbar {
  box-shadow: none;
}

.btn-action, .btn-primary {
  box-shadow: none;
}

.card-icon {
  padding: 1.25rem;
}

.error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.hidden {
  display: none;
}

