.show {
  .sheet {
    .side {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.index .sheet {
  .candidate-item {
    .recruiter {
      border-left: 1px solid rgba(gray, 0.4);
      border-right: 0;
    }
  }
}

.recruiter-message {
  background-color: lighten($secondary_navbar_background_color, 0.5);
}

.candidate-header {
  color: white;
  background-color: $secondary_navbar_background_color;
  padding: 1rem;
}

