
.page.candidates {

  .show {
    .sheet {
      .header {
          border-bottom: 1px solid rgba(gray, 0.4);
          .state {
              color: $secondary_color !important;
          }
      }
  
      .scroll.inner {
        margin-top: 1rem;
      }
  
      .candidate-item {
        .actions {
          border-bottom: 1px solid rgba(gray, 0.4);
          margin-bottom: 1rem;
  
        }

        .left {
          padding-left: 2rem;
          padding-right: 0.5rem;
        }

        .right {
          padding-left: 0.5rem;
          padding-right: 2rem;
        }
  
        .cv-item {
          padding: 1rem;
          background-color: white;
          border: 1px solid rgba(gray, 0.4);
          border-radius: 10px;
        }
  
        .recruiter-blurb {
          font-size: 0.9rem;
  
          padding: 0.75rem;
          border: 1px solid rgba(gray, 0.4);
          border-radius: 10px;
          background-color: $light_gray_color;
          
          .icon .fa {
            font-size: 1.25rem;
            line-height: 1.25rem;
          }
  
          .icon-btn.spam:hover {
            color: red !important;
          }
  
          .user-avatar {
            padding-bottom: 1.5rem;
          }
  
          .blurb {
            padding-top: 1.5rem;
          }
        }
      }
  
    }
  }
  
  .index .sheet {
    .item {
      @extend %state-hover;
    }
  
    .candidate-item {
      .recruiter {
        border-left: 1px solid rgba(gray, 0.4);
        border-right: 0;
      }
    }
  }
  
  .recruiter-message {
    background-color: lighten($secondary_navbar_background_color, 0.5);
  }
  
  .a-candidate-header {
    padding: 1rem;
  }
  
  .candidate-action {
    .accept {
    }
  
  }
  
}
