@import "theme_2";

#candidates-page .index-sheet {
}

.candidate-item {
  padding: 0rem 1rem 0rem 1rem;
  border-width: 4px;
  border-color: rgba(#ffffff, 0.0);
  border-style: solid;
}

.candidate-item:hover {
  border-color: $primary_color;
  background-color: $hover_background_color;
}

.candidate-item.selected {
  border-color: $selected_background_color;
}
