
.head-stats {
  background-color: white;
  @extend %stats;
}

.page.heads {

  .link-maker-modal {
    input[text] {
      size: 50;
    }
    width: 50rem;

    .pyr-icon {
      margin-right: 1rem;
      width: 1.25rem;
    }
  }

  .exp-modal {
    input[text] {
      size: 50;
    }

    textarea {
      height: 20rem;
    }

    width: 50rem;
    height: 25rem;
  }

  .show {
    .exp-add {
      font-size: 1rem;
      height: 1.25rem;
      width: 100%;
      color: white;

      &:hover {
        background-color: rgba($border_color, 0.25);
        color: $primary_color;
      }
    }

      .inner {
        margin-top: 1rem;
        padding: 0;
        border: none;

        .left {
          .section {
            border: 0;
            margin-bottom: 0;
          }
        }
      }

  }


  .head {
  
    .head-details {
      padding: 0.5rem;
  
      &.name {
        padding-top: 0.5rem;
  
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: $primary_color;
      }
    
      &.address, &.primary {
        > div {
          padding-top: 0.5rem;
        }
  
        font-size: 1.15rem;
        line-height: 1.25rem;
      }
  
      &.social-links {
        > div {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
  
        font-size: 2rem;
      }
    
      &.skills {
      }
    
      &.work-history {
        font-size: 0.9rem;
  
        .work {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
  
          .year {
            font-weight: 700;
            font-size: 1.1rem;
          }
          .company {
            font-weight: 500;
            font-size: 1rem;
          }
  
        }
      }
    }
  }
  
}
