
.me.page {

  .me-index-header {
  
    .pyr-file-selector {
      .thing {
        img.pyr-image-file {
          object-fit: contain;
          max-height: 8rem;
          max-width: unset;
          height: auto;
          width: auto;
        }
      }
    }
  }

  .sheet.edit.logout {
    margin-top: 2rem;
  }
}
