
.me.page {

  .me-index-header {
    .form-group {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  
    .pyr-file-selector {
      .thing {
        img.pyr-image-file {
          object-fit: contain;
          max-height: 8rem;
          max-width: unset;
          height: auto;
          width: auto;
        }
      }
    }
  }

  .me-info {
    padding-left: 3rem;
    padding-right: 3rem;
  }
   
}
