.message-thread {
  padding: 1.5rem;
  
  .user-avatar {
    padding-right: 1rem;
    width: #{$avatar_width}rem;
  }
  
  .thread-item {
    padding: 0.5rem 0 0.5rem 0;
    margin: 0rem 1rem 0 1rem;
  
    .created-at {
      font-size: 0.85rem;
      padding-left: #{$avatar_small_width+1.5}rem;
      color: $gray_color;
    }
  
    .item-content {
      padding: 0.75rem;
      border: solid 1px $primary_light_color;
      border-radius: 15px;
    }
  
    &.yours {
      .item-content {
        border-color: $primary_light_color;
        background-color: rgba($primary_light_color, 0.05);
      }
    }
    &.mine {
      .item-content {
        border-color: $secondary_light_color;
        background-color: rgba($secondary_light_color, 0.05);
      }
      padding-left: #{$avatar_small_width + 2}rem;
    }
  }
  
  .message-footer {
    .form-group {
      padding: 0;
    }
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: white;
  
    input::placeholder {
      color: rgba(#000, 0.5);
    }
  
  }
}
  
@include media-breakpoint-down(xs) {
  .sheet.show {
    .thread-item.yours {
      padding-right: #{0.5}rem;
    }
    .thread-item.mine {
      padding-right: #{0.5}rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .sheet.show {
    .thread-item.yours {
      padding-right: #{1.0}rem;
    }
    .thread-item.mine {
      padding-left: #{1.0}rem;
    }
  }
}
