.page.messages {
  .pyr-back-button {
    background-color: rgba(255, 255, 255, 0) !important;
  }

  .sheet {
    background-color: $background_color;
    .thread {
      border: 1px solid $border_color;
      background-color: white;
    }

    .left {
      padding: 1rem;
    }
  }

  .index .sheet {

    .item {
      &.new {
        .title {
          font-weight: $font_weight_bold;
        }
      }

      &:hover {
      }
    }
  }
  
  .new .sheet {
    .title {
      color: orange;
      text-align: center;
    }
  }

  .show .sheet {

    .header {
      background-color: white;
    }

    .header {
    }

    .col, .row {
      margin-left: 0;
      margin-right: 0;
    }

    .message-header {
      border-bottom: 1px solid $border_color;
      border-top: 1px solid $border_color;

      .title {
        padding: 2rem;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
      }
    }

    .message-footer {
      border-top: 1px solid $border_color;
    }

    .right {
      padding: 1rem;
    }

    .qa-header, .qa-question {
      color: #000;
      background-color: rgba($secondary_light_color, 0.25);
      padding: 1rem;
  
      .title {
        text-align: center;
      }

      .from {
        padding: 1rem;
      }
    }
  }
}
  
@include media-breakpoint-down(xs) {
  .action.show .sheet {
    .thread-item.mine {
      padding-right: #{0.5}rem;
    }
    .thread-item.recruiter {
      padding-right: #{0.5}rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .action.show .sheet {
    .thread-item.mine {
      padding-right: #{1.0}rem;
    }
    .thread-item.recruiter {
      padding-left: #{1.0}rem;
    }
  }
}
