.page.messages {

  .pyr-back-button {
    background-color: rgba(255, 255, 255, 0) !important;
  }

  .sheet {
    background-color: $background_color;
    .thread {
      border: 1px solid $border_color;
      background-color: white;
    }

  }

  .sheet.index {

    margin-right: 1rem;

    .item {
      .other {
        .avatar {
          padding: 0.5rem;
        }
      }

      .title, .created-at {
        color: black;
        font-size: 1rem;
        font-weight: $font_weight_normal;
      }

      .title {
        .message-header {
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        overflow: hidden;
      }

      .summary {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.25rem;
        font-size: 0.9rem;
      }

      &.unread {
        .title {
          color: $primary_color;
          font-weight: $font_weight_bold;
        }
      }

      &:hover {
      }
    }
  }
  
  .sheet.new {
    .title {
      color: orange;
      text-align: center;
    }
  }

  .sheet.show {
    .inner {
      border: 0;
      padding: 0;
    }

    .job-title {
      @extend %header;
    }

    .candidate-mini {
      padding: 1rem;

      &.new {
        background-color: $light_gray_color;
      }

      .more {
        color: white;
      }

      &:hover {
        box-shadow: 2px 2px 5px 0px $gray_color;

        .more {
          color: $secondary_color;
        }
      }

    }

    .col, .row {
      margin-left: 0;
      margin-right: 0;
    }

    .message-header {
      border-bottom: 1px solid $border_color;
      border-top: 1px solid $border_color;

      .title {
        padding: 2rem;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
      }
    }

    .message-footer {
      border-top: 1px solid $border_color;
    }

    .qa-header, .qa-question {
      color: #000;
      background-color: rgba($secondary_light_color, 0.25);
      padding: 1rem;
  
      .title {
        text-align: center;
      }

      .from {
        padding: 1rem;
      }
    }
  }
}
  
@include media-breakpoint-down(xs) {
  .sheet.show {
    .thread-item.mine {
      padding-right: #{0.5}rem;
    }
    .thread-item.recruiter {
      padding-right: #{0.5}rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .sheet.show {
    .thread-item.mine {
      padding-right: #{1.0}rem;
    }
    .thread-item.recruiter {
      padding-left: #{1.0}rem;
    }
  }
}
