.positions {
  .show {
    .sheet {
      .candidates {
        padding-left: 2rem;
      }

      .position {

        .description {
          padding: 2rem;
          font-size: 1.25rem;
        }

        .header {
          border-bottom: solid $border_color 1px;

          & > div {
            padding: 1rem;
          }

          .logo {
            height: 10rem;
            width: 10rem;
            border: solid $border_color 1px;
            border-radius: 5px;
          }
  
          .title {
            font-size: 2rem;
            line-height: 3rem;
            font-weight: $font_weight_normal;
          }

          .company {
            padding-top: 0.5rem;
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: $font_weight_normal;
          }
    
          .locations {
            padding-top: 0.5rem;
            font-size: 1.0rem;
            line-height: 1.5rem;
            font-weight: $font_weight_normal;
          }
        }
      }
    }
  }

  .index {
    .sheet {
      .position-search {
        padding: 1rem;
        background-color: white;
        border: solid $border_color 1px;
      }
  
      .item {
        width: 20rem;
        height: 20rem;
  
        background-color: white;
        border: solid $border_color 1px;
        border-radius: 5px;
  
        line-height: 1rem;
        font-size: 1rem;
        text-align: left;
        color: rgba(0,0,0,0.9);
  
        &:hover {
          box-shadow: 2px 2px 5px 0px $gray_color;
  
          .more {
            color: $secondary_color;
          }
        }
  
        & > div {
          padding-left: 1.2rem;
          padding-right: 1.2rem;
        }
  
        .category {
          padding-top: 1rem;
          padding-bottom: 1rem;
          border-bottom: solid $border_color 1px;
  
          font-weight: $font_weight_bold;
  
          .dropdown-toggle::after {
            display:none;
          }
  
          i.fa {
            font-size: 1.25rem;
            padding-left: 0.5rem;
  
            &:hover {
              color: $secondary_color;
            }
          }
        }
        
        .position {
          max-height: 3rem;
          text-align: left;
          font-weight: $font_weight_bold;
          padding-bottom: 0.5rem;
        }
  
        .location {
          max-height: 3rem;
          text-align: left;
          font-weight: $font_weight_normal;
          padding-bottom: 0.5rem;
        }
  
        .company {
          padding-top: 1rem;
          padding-bottom: 1rem;
  
          max-height: 7rem;
  
          div {
            padding-left: 0.5rem;
            max-height: 4rem;
          }
  
          img {
            width: 5rem;
            height: 5rem;
            border-radius: 5px;
          }
        }
  
        .more {
          padding-top: 0.5rem;
          padding-bottom: 1rem;
          color: white;
        }
  
      }
  
      .inner {
  
        li {
          margin: 1rem;
        }
      }
    }
  }
}
