.positions {
  .sheet {
    background-color: white;

    .item {
      background-color: white;
      border: solid $secondary_color 1px;
      border-radius: 2px;

      .header  {
        background-color: $secondary_color;
        color: white;
        padding: 0.5rem;
      }

      .content {
        padding: 0.5rem;
        background-color: rgba($secondary_color, 0.1);
        .col {
        }
      }

      .detail {

        &.title {
          font-weight: 500;
          font-size: 1.25rem;
          line-height: 1.5rem;
          padding: 0.5rem;
        }

        &.description {
          max-height: 5.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0.5rem;

        }
      }
    }

    .inner {
      border-width: 0;

      li {
        margin: 1rem;
      }
    }
  }
}
