.positions {
  .sheet {
    background-color: white;

    .item {
      background-color: white;
      border: solid $light_gray_color 1px;
      border-radius: 2px;
      padding: 1rem;
      .detail {
        padding-left: 1rem;
        padding-right: 1rem;

        &.title {
          font-weight: 500;
          font-size: 1.5rem;
        }

        &.description {
          padding-top: 1rem;
          padding-left: 0rem;
          max-height: 5.5rem;
          overflow: hidden;
          text-overflow: ellipsis;

        }
      }
    }

    .inner {
      border-width: 0;

      li {
        margin: 0.5rem;
      }
    }
  }
}
