@import "theme";

.loading {
  background: url('/assets/images/loading_balls.gif') no-repeat center center;
  background-color: $background_color;
  width: 100%;
  height: 100%;
}

.form-group {
  margin-bottom: 0;
}

/* this fixes the fucked up mdb border */

input[type=text] {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
}

.pyr-fullscreen {
  position: fixed;
  z-index: 3001;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;

  overflow: hidden;
  background-color: $background_color;

  .controls {
    padding: 0.5rem;
    text-shadow: none;
    background-color: rgba($primary_light_color, 0.25);
    color: white;
  }

  .navbar {
  }

  .content {
    .title {
      h3 {
        font-size: 1.5rem;
      }

    }

    background-color: white;

    width: 100% !important;
    height: 100% !important;
  }
}

.flx-auto {
  flex: auto;
}


.pyr-app-modal {
  background-color: rgba($gray_color, 0.50) !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5002;
  width: 100%;
  height: 100%;
  display: block;

  .pyr-icon-btn.close {
    i {
      &:hover {
        color: $highlight_color;
      }
    }
    margin-bottom: 1rem;
  }

  .pyr-app-modal-content {
    padding: 1rem;
    background-color: white;
    border: 2px solid rgba($primary_color, 0.5); //$border_color;
    max-height: calc(100% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pyr-app-modal-inner {
    overflow: auto;
  }

}

.pyr-fade {
  opacity: 0.00;

  &.pyr-fade-enter {

    &.pyr-fade-enter-active, &.pyr-fade-entered {
      opacity: 1;
      transition: opacity 300ms ease-in;
    }

  }


  &.pyr-fade-exit {
    opacity: 1;

    &.pyr-fade-exit-active {
     opacity: 0.00;
     transition: opacity 200ms ease-in;
    }
  }
}


.pyr-slide-right {
  width: 25rem;
  background-color: red;
  transform: translateX(100%);
  margin-left: -25rem;

  &.pyr-slide-right-enter {

    &.pyr-slide-right-enter-active, &.pyr-slide-right-entered, &.pyr-slide-right-exit {
      margin-left: 0rem;
      transform: translateX(0);
      un-transition: all 300ms linear;
    }
  }

  &.pyr-slide-right-exit-active {
    margin-left: -25rem;
    transform: translateX(100%);
    un-transition: all 300ms linear;
  }
}

.pyr-notice {
  z-index: 5000;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba($secondary_color, 0.9);
  border: 1px solid $secondary_color;
  color: white;

  line-height: 1.5rem;
  font-size: 1rem;
  padding: 1rem;
  text-align: left;
}

.fancy {
  background-color: $secondary_color !important;
  border-color: $secondary_color !important;
  color: #fff !important;
  border-radius: 2px;
  border: 0;
  color: #fff !important;
  margin: 1px;
  white-space: normal !important;
  word-wrap: break-word;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.85rem 2.13rem;
  display: inline-block;
  line-height: 1.25rem;
  text-align: center;

  label {
    padding-right: 1rem;
  }
  i {
    font-size: 1rem;
    color: rgba(#fff, 0.5);
    &:hover {
      color: $highlight_color;
    }
  }
}

.pyr-collapse {
  .children {
    margin-left: 1.5rem;
  }
  margin-bottom: 1rem;
}

$pfs_width: 10rem;
$pfs_height: 10rem;

.pyr-file-selector {
  border: 1px solid $border_color;
  padding: 0;

  .guts {
  }

  .thing {
    padding: 0.5rem;

    border-color: 1px solid $border_color;
    background-color: $alt_background_color;

    //width: $pfs_width;
    //height: $pfs_height;

    img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
      margin: auto;
    }
  }

  .pyr-drop-target {
    //width: $pfs_width;
    //height: $pfs_height;

    .drop-site {
      border: 1px solid $border_color;

    }

    &.dragging {
      .drop-site {
        border: 1px solid $primary_color;
        background-color: $secondary_color;
      }
    }

    .drop-site-size {
      width: 100%;
      height: 100%;
    }
  }

  input[type="file"] {
    display: none;
  }

}

.pyr-btn-flat {
  -webkit-box-shadow: unset;
  box-shadow: unset;

  background-color: rgba(#FFF, 0.2);

  &.selected {
    background-color: rgba(#FFF, 0.5);
  }

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  &:hover {
  }
}



.pyr-range {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  padding-left: 1.5rem;

  .input-range__label--max {
    .input-range__label-container {
      left: auto;
    }
  }
}

.pyr-icon-btn {
  color: $unselected_button_color;
  &:hover {
    color: $navbar_background_color;
  }
  &.disabled {
    color: $med_gray_color;
    &:hover {
      color: $med_gray_color;
    }
  }
  &.selected {
    color: $navbar_background_color;
  }
}

.pyr-auto-complete {
  font-size: 1rem;

  .token {
    color: white;
  
    border-radius: 2px;
    padding: 1px;

    .fancy {
     padding: 1px;

     label.small {
       font-size: 0.8rem;
       padding-right: 0.5rem;
       padding-left: 0.5rem;
     }
    }
  }
}

.pyr-back-button.nav-item {
  &:hover {
    font-weight: $font_weight_bold;
    color: white !important;
  }
}

@include media-breakpoint-down(xs) {
  .hide-below-xs {
    display: none;
  }
  .pyr-file-selector {
    width: 5rem;
    height: 5rem;
  }
}

@include media-breakpoint-down(sm) {
  .hide-below-sm {
    display: none;
  }
  .pyr-file-selector {
    width: 7rem;
    height: 7rem;
  }
}
@include media-breakpoint-down(md) {
  .hide-below-md {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .hide-below-lg {
    display: none;
  }
}

@include media-breakpoint-down(xl) {
  .hide-below-xl {
    display: none;
  }
}
