
.loading {
  background: url('/assets/images/loading_balls.gif') no-repeat center center;
  background-color: $light_gray_color;
  width: 100%;
  height: 100%;
}

.form-group {
  margin-bottom: 0;
}

.fullscreen {
  position: fixed;
  z-index: 5001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $light_gray_color;

  .close {
    padding-top: 1.5rem;
    padding-right: 2.5rem;
    text-shadow: none;
    font-size: 2rem;

    &:hover {
      color: lighten($secondary_color, 5%) !important;
    }
  }

  .content {
    padding: 2.5rem;
    background-color: $white_color;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

.pyr-fade {
  opacity: 0.01;

  &.pyr-fade-enter {

    &.pyr-fade-enter-active, &.pyr-fade-entered {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }

  }


  &.pyr-fade-exit {
    opacity: 1;

    &.pyr-fade-exit-active {
     opacity: 0.01;
     transition: opacity 300ms ease-in;
    }
  }
}


.pyr-slide-right {
  width: 25rem;
  background-color: red;
  transform: translateX(100%);
  margin-left: -25rem;

  &.pyr-slide-right-enter {

    &.pyr-slide-right-enter-active, &.pyr-slide-right-entered, &.pyr-slide-right-exit {
      margin-left: 0rem;
      transform: translateX(0);
      un-transition: all 500ms linear;
    }
  }

  &.pyr-slide-right-exit-active {
    margin-left: -25rem;
    transform: translateX(100%);
    un-transition: all 500ms linear;
  }
}

.pyr-notice {
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($secondary_color, 0.8);
  color: white;
  line-height: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.fancy {
  background-color: $secondary_color !important;
  border-color: $secondary_color !important;
  color: #fff !important;
  border-radius: 2px;
  border: 0;
  color: #fff !important;
  margin: 6px;
  white-space: normal !important;
  word-wrap: break-word;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.85rem 2.13rem;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25rem;
  text-align: center;

  label {
    padding-right: 1rem;
  }
  i {
    font-size: 1rem;
    color: rgba(#fff, 0.5);
    &:hover {
      color: #fff;
    }
  }
}



@include media-breakpoint-down(xs) {
  .hide-below-xs {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .hide-below-sm {
    display: none;
  }
}
@include media-breakpoint-down(md) {
  .hide-below-md {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .hide-below-lg {
    display: none;
  }
}

@include media-breakpoint-down(xl) {
  .hide-below-xl {
    display: none;
  }
}
