
.page.recruiters {
  .sheet.index {
    .inner {
      li {
        margin: 1rem;
      }
    }
  }

  .sheet.new {
    .form-parent {
      #body {
        height: 15rem;
      }
    }
  }
  
  .sheet.show {
    background-color: $alt_background_color;

    .review {
      padding: 1.5rem;
      background-color: white;
      border: 1px solid $border_color;
      margin: 1rem;
    }
  
  
    .user-avatar-unused {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 0.8rem;
      img {
        width: #{$avatar_width}rem;
        height: #{$avatar_width}rem;
        border-radius: 50%;
      }
    }
  
    .thread-item {
      padding: 0.5rem 0 0.5rem 0;
      margin: 0rem 1rem 0 1rem;
  
      .created-at {
        font-size: 0.85rem;
        padding-left: #{$avatar_width/2+3}rem;
        padding-right: #{$avatar_width/2+3}rem;
        color: $gray_color;
      }
  
       .item-content {
         padding: 0.75rem;
         border-radius: 20px;
      }
  
      &.mine {
        .item-content {
          background-color: rgba($primary_light_color, 0.5);
        }
        padding-right: #{$avatar_width + 2}rem;
      }
      &.recruiter {
        .item-content {
          background-color: rgba($secondary_light_color, 0.5);
        }
        padding-left: #{$avatar_width + 2}rem;
      }
    }
  
    .qa-header, .qa-question {
      color: #000;
      background-color: rgba($secondary_light_color, 0.25);
      padding: 1rem;
  
      .title {
        text-align: center;
      }
      .from {
        padding: 1rem;
      }
    }
  
    .recruiter-header {
      & > div {
        padding: 1rem;
      }

      color: white;
      background-color: rgba($secondary_navbar_background_color, 0.5);
    }
  
    .recruiter-footer {
      .form-group {
        padding: 0;
      }
      padding: 1rem 0.5rem 1rem 0.5rem;
      background-color: white;
      margin-left: 2px;
  
      input[type="text"]::placeholder {
      }
  
    }
  }
}
