/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$font_size: 16px;

$font_weight_light: 300;
$font_weight_normal: 400;
$font_weight_bold: 500;
$font_weight_dark: 600;
$font_weight_max: 700;

$primary_color: rgba(#00bcd4, 1.0);
$primary_light_color: rgba(#26c6da, 1.0);
$primary_dark_color:  rgba(#0097a7, 1.0);

$primary_color_50: rgba(red($primary_color), green($primary_color), blue($primary_color), 0.5);
$primary_light_color_50: rgba(red($primary_light_color), green($primary_light_color), blue($primary_light_color), 0.5);
$primary_dark_color_50:  rgba(red($primary_dark_color), green($primary_dark_color), blue($primary_dark_color), 0.5);

$secondary_color: rgba(#ffb300, 1.0);
$secondary_light_color: rgba(#ffe54c, 1.0);
$secondary_dark_color:  rgba(#c68400, 1.0);

$secondary_color_50: rgba(red($secondary_color), green($secondary_color), blue($secondary_color), 0.5);
$secondary_light_color_50: rgba(red($secondary_light_color), green($secondary_light_color), blue($secondary_light_color), 0.5);
$secondary_dark_color_50:  rgba(red($secondary_dark_color), green($secondary_dark_color), blue($secondary_dark_color), 0.5);

$white_color: rgba(#FFFFFF, 1.0);
$black_color: rgba(#FFFFFF, 1.0);
$light_gray_color: rgba(250, 250, 250, 0.95);
$med_gray_color: rgba(210, 210, 210, 0.95);
$gray_color: rgba(#7A7A7A, 1.0);

$highlight_color: $secondary_dark_color;
$hover_color: $white_color;
$hover_background_color: rgba(#FFF, 0.2);
$selected_color: $white_color;
$selected_background_color: $highlight_color;

$white_light_color: rgba(#FFF, 0.85);

$navbar_color: $white_color;
$navbar_background_color: $primary_dark_color;
$navbar_menu_color: $white_light_color;
$navbar_hover_color: $hover_color;
$navbar_border_color: $white_color;
$secondary_navbar_background_color: rgba($navbar_background_color, 0.8);

$sidebar_color: $gray_color;
$sidebar_background_color: $white_color; //rgba(#9c7361, 1.0);
$sidebar_header_background_color: $primary_color;
$sidebar_header_color: $primary_color;
$sidebar_hover_color: $primary_color;
$sidebar_hover_background_color: $light_gray_color;
$sidebar_font_size: 0.85rem;

$border_color: $med_gray_color;
$background_color: white;
$alt_background_color: rgba($navbar_background_color, 0.010);


$main_title_background_color: $primary_dark_color;

$avatar_width: 6;
$avatar_small_width: $avatar_width / 2;

$sep_color: $med_gray_color;

$green_color: rgba(#7abe80, 1.0);
$red_color: rgba(#bf2b2b, 1.0);

$new_color: $primary_color;
$accepted_color: $green_color;
$passed_color: $gray_color;
$vetting_color: $green_color;
$on_site_color: $green_color;
$background_checks_color:  $green_color;
$hired_color: $highlight_color;
$recalled_color: $red_color;
$cancelled_color: $red_color;
$spam_color: $red_color;

$unselected_button_color: rgba($navbar_background_color, 0.6);
