

/* 

$primary_color_50: rgba(red($primary_color), green($primary_color), blue($primary_color), 0.5);
$primary_light_color_50: rgba(red($primary_light_color), green($primary_light_color), blue($primary_light_color), 0.5);
$primary_dark_color_50:  rgba(red($primary_dark_color), green($primary_dark_color), blue($primary_dark_color), 0.5);

$secondary_color_50: rgba(red($secondary_color), green($secondary_color), blue($secondary_color), 0.5);
$secondary_light_color_50: rgba(red($secondary_light_color), green($secondary_light_color), blue($secondary_light_color), 0.5);
$secondary_dark_color_50:  rgba(red($secondary_dark_color), green($secondary_dark_color), blue($secondary_dark_color), 0.5);

$background_color: $white_color;

$highlight_color: $secondary_dark_color;
$hover_color: $white_color;
$hover_background_color: rgba(#FFF, 0.2);
$selected_color: $white_color;
$selected_background_color: $highlight_color;

$navbar_color: $white_color;
$navbar_background_color: $primary_dark_color;
$navbar_menu_color: $white_light_color;
$navbar_hover_color: $hover_color;
$navbar_border_color: $white_color;
$secondary_navbar_background_color: rgba($navbar_background_color, 0.8);

$border_color: $med_gray_color;
$alt_background_color: rgba($navbar_background_color, 0.010);

$main_title_background_color: $primary_dark_color;



*/

$sidebar_color: $gray_color;
$sidebar_background_color: $white_color; //rgba(#9c7361, 1.0);
$sidebar_header_background_color: $primary_color;
$sidebar_header_color: $primary_color;
$sidebar_hover_color: $primary_color;
$sidebar_hover_background_color: $light_gray_color;
$sidebar_font_size: 0.85rem;

$avatar_width: 6;
$avatar_small_width: $avatar_width / 2;

$sep_color: $med_gray_color;

$new_color: $primary_color;
$unlocked_color: $green_color;
$passed_color: $gray_color;
$offer_color: $yellow_color;
$on_site_color: $green_color;
$background_checks_color:  $green_color;
$hired_color: $secondary_color;
$recalled_color: $red_color;
$cancelled_color: $gray_color;
$spam_color: $red_color;

$unselected_button_color: rgba($navbar_background_color, 0.6);


/*

$fb-color: #3B5998;
$tw-color: #55ACEE;
$gplus-color: #DD4B39;
$yt-color: #CD201F;
$li-color: #0082CA;
$pin-color: #C61118;
$ins-color: #3F729B;
$git-color: #4183C4;
$comm-color: #30CFC0;
$vk-color: #4C75A3;
$drib-color: #C32361;
$so-color: #f69c55;
$slack-color: #56b68b;

*/
