/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "pyr/base/application";
@import "scss/font-awesome";
@import "react-input-range/index";
@import "theme";
@import "pyr";
@import "base";

.navbar {
  margin-left: 0;
  margin-right: 0;

  .form-group {
    margin: 0;
    padding: 0;

    input {
      border-color: $navbar_menu_color !important;

    }
  }

  .nav-item, .navbar, .form-control {
    color: $navbar_menu_color !important;
    font-size: 1rem;
   }

  .nav-item {
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0rem;

    #arrow {
      color: $navbar_background_color;
    }

    &#user:hover {
      color: white !important;
      #arrow {
        color: white !important;
      }
    }
    &.alerts:hover {
      color: white !important;
    }
  }

  input[type=text] {
    color: $navbar_menu_color !important;
    font-size: 1rem;
    width: 20rem;
    display: inline-block;
  }

  input::placeholder {
    color: rgba($navbar_menu_color, 0.5);
    font-size: 1rem;
  }

  .logo:hover {
    color: white !important;
  }

  .alerts:hover {
    color: white !important;
  }
}


.nav-bar-user {
  padding-left: 2rem;
}

.nav-bar-search:hover {
  color: white !important;
}

.marketplace {
  .container-content {
    padding: 1rem;
  }
}

  .container-content {
    padding: 1rem;
  }

.positions {
  .sheet {
    background-color: white;

    .item {
      background-color: white;
      border: solid $light_gray_color 1px;
      border-radius: 2px;
      padding: 1rem;
      .detail {
        padding-left: 1rem;
        padding-right: 1rem;

        &.title {
          font-weight: 500;
          font-size: 1.5rem;
        }

        &.description {
          padding-top: 1rem;
          padding-left: 0rem;
          max-height: 10.5rem;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            float: true;
            max-height: 20rem;
            z-index: 4002;
          }
        }
      }
    }

    .inner {
      li {
        margin: 1rem;
      }
    }
  }
}

