/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "pyr/base/application";
@import "scss/font-awesome";
//@import "web-fonts-with-css/scss/fontawesome";
@import "react-input-range/index";
@import "theme";
@import "pyr";
@import "base";

.navbar {
  margin-left: 0;
  margin-right: 0;

  .form-group {
    margin: 0;
    padding: 0;

    input {
      border-color: $navbar_menu_color !important;

    }
  }

  .nav-item, .navbar, .form-control {
    color: $navbar_menu_color !important;
    font-size: 1rem;
   }

  .nav-item {
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0rem;

    #arrow {
      color: $navbar_background_color;
    }

    &#user:hover {
      color: white !important;
      #arrow {
        color: white !important;
      }
    }
    &.alerts:hover {
      color: white !important;
    }
  }

  input[type=text] {
    color: $navbar_menu_color !important;
    font-size: 1rem;
    width: 20rem;
    display: inline-block;
  }

  input::placeholder {
    color: rgba($navbar_menu_color, 0.5);
    font-size: 1rem;
  }

  .logo:hover {
    color: white !important;
  }

  .alerts:hover {
    color: white !important;
  }
}

.subnavbar {
  margin-left: 0;
  margin-right: 0;

  background-color: $navbar_menu_color !important;
  color: rgba($navbar_background_color, 0.7);

  border-bottom: 1px solid $navbar_background_color;
  border-top: 1px solid $navbar_menu_color;
  box-shadow: 0px 2px 2px 0px $navbar_background_color;

  .nav-item, .form-control {
    color: rgba($navbar_background_color, 0.7);
   }

  .sub-nav-icon {
    margin: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    .title {
      border-bottom: 1px solid $navbar_menu_color;
    }

    font-size: 0.9rem;

    &:hover, &.selected {
      color: $navbar_background_color !important;
    }
    &:hover:not(.selected) {
      .title {
        border-bottom: 1px solid $navbar_background_color;
      }
    }

  }


}


.nav-bar-user {
  padding-left: 2rem;
}

.nav-bar-search:hover {
  color: white !important;
}

.container-content {
  padding: 1rem;
}

.marketplace {
  .container-content {
    padding-top: 1.5rem;
  }
}
