
html, body {
  height: 100%
}

main {
  min-height: 100%;
  overflow-y: hidden;
  position: relative;
}

.dashboard {
  overflow-y: hidden;
  position: relative;
  margin-bottom: -9999px;
  padding-bottom: 9999px;

  #main-page, #sidebar, #sidebar-main {
    height: 100%;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
  }

  .row {
    height: 100%;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
  }
  .row > [class*='col-'] {
    height: 100%;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
  }

}
