html, body {
  height: 100%
}

@import "theme_2";
@import "sidebar";
@import "candidates";

.navbar {
  .nav-title {
    color: $navbar_menu_color !important;
    font-size: 1.25rem;
    margin: 0;
    padding-left: 0.25rem;
  }
  margin: 0;
  padding-left: 1rem;
}
