/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$primary_red: 90;
$primary_green: 172;
$primary_blue: 178;
$primary_hex: #5AACB2;

$primary_color: rgb($primary_red, $primary_green, $primary_blue);
$primary_color_50: rgba($primary_red, $primary_green, $primary_blue, 0.5);

$complementary_red:  255;
$complementary_green: 187;
$complementary_blue: 127;

$complementary_color: rgb($complementary_red, $complementary_green, $complementary_blue);
$complementary_color_50: rgba($primary_red, $primary_green, $complementary_blue, 0.5);

$complementary_hex: #FFBB7F;

$hover_color: rgb(108, 220, 240);

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $primary_color;
  color: #fff;
}

.bg-primary {
  background-color: $primary_color !important;
}

.btn-primary {
  background-color: $primary_color !important;
  border-color: $primary_color !important;
  color: #fff;
}

.btn-action {
  background-color: $complementary_color !important;
  border-color: $complementary_color !important;
  color: #fff;
}

.btn-outline-action {
  background-color: #fff;
  border-color: $complementary_color !important;
  color: $complementary_color;
}

.text-primary {
  color: $primary_color !important;
}

.nav-link:focus {
  outline: none;
}

.trans-50 {
  background-color: rgba($primary_red,$primary_green,$primary_blue,0.25);
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.jumbotron {
  border-radius: 0;
}

.nav-link {
 color: #fff !important;
}

.nav-link:hover {
  color:  $hover_color !important;
}

.modal-backdrop {
  background-color: $primary_color;
}

.form-notice {
  color: #f00;
}
